html
    height: 100%

body
    position: relative
    font-size: 14px
    -webkit-font-smoothing: antialiased
    font-family: 'Rokkitt', sans-serif
    padding-top: 58px

    &.overflow_hidden
        overflow: hidden

    @media #{$tablet}
        padding-top: 63px

    @media #{$mobile}
        padding-top: 40px

.page-bg
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    pointer-events: none
    z-index: -1

    @media #{$tablet-above}
        background-image: url('../images/bg.png')

    @media #{$mobile-above}
        @media #{$tablet}
            background-image: url('../images/tablet-bg.png')

    @media #{$mobile}
        background-image: url('../images/mob-bg.png')

*, :before, :after
    margin: 0
    padding: 0
    box-sizing: border-box

svg
    pointer-events: none

input,
textarea,
button
    border: none
    outline: none
    border-radius: 0

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea,
button
    -webkit-appearance: none

fieldset
    border: none

h1, h2, h3, h4, h5, h6
    font-family: inherit
    font-weight: normal
    color: inherit

a
    color: inherit
    text-decoration: none

    &:hover,
    &:active,
    &:focus
        text-decoration: none

li
    list-style: none

.visually-hidden
    border: 0 !important
    clip: rect(0 0 0 0) !important
    width: 1px !important
    height: 1px !important
    margin: -1px !important
    overflow: hidden !important
    padding: 0 !important
    position: absolute !important

.hidden-xs
    @media #{$mobile}
        display: none !important

.visible-xs
    display: none !important

    @media #{$mobile}
        display: block !important

.container
    max-width: 1280px
    width: 100%
    margin: 0 auto
    padding: 0 40px

    @media #{$mobile}
        padding: 0 20px
