/* font converted using font-converter.net. thank you! */
@font-face {
	font-family: "CaslonGraD";
	src: url("../fonts/caslongrad.eot"); /* IE9 Compat Modes */
	src: url("../fonts/caslongrad.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/caslongrad.otf") format("opentype"), /* Open Type Font */
		url("../fonts/caslongrad.svg") format("svg"), /* Legacy iOS */
		url("../fonts/caslongrad.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/caslongrad.woff") format("woff"), /* Modern Browsers */
		url("../fonts/caslongrad.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Rokkitt";
	src: url("../fonts/Rokkitt-Bold.eot"); /* IE9 Compat Modes */
	src: url("../fonts/Rokkitt-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/Rokkitt-Bold.otf") format("opentype"), /* Open Type Font */
		url("../fonts/Rokkitt-Bold.svg") format("svg"), /* Legacy iOS */
		url("../fonts/Rokkitt-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/Rokkitt-Bold.woff") format("woff"), /* Modern Browsers */
		url("../fonts/Rokkitt-Bold.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Rokkitt";
	src: url("../fonts/Rokkitt-Light.eot"); /* IE9 Compat Modes */
	src: url("../fonts/Rokkitt-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/Rokkitt-Light.otf") format("opentype"), /* Open Type Font */
		url("../fonts/Rokkitt-Light.svg") format("svg"), /* Legacy iOS */
		url("../fonts/Rokkitt-Light.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/Rokkitt-Light.woff") format("woff"), /* Modern Browsers */
		url("../fonts/Rokkitt-Light.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Rokkitt";
	src: url("../fonts/Rokkitt-Medium.eot"); /* IE9 Compat Modes */
	src: url("../fonts/Rokkitt-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/Rokkitt-Medium.otf") format("opentype"), /* Open Type Font */
		url("../fonts/Rokkitt-Medium.svg") format("svg"), /* Legacy iOS */
		url("../fonts/Rokkitt-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/Rokkitt-Medium.woff") format("woff"), /* Modern Browsers */
		url("../fonts/Rokkitt-Medium.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Rokkitt";
	src: url("../fonts/Rokkitt-Regular.eot"); /* IE9 Compat Modes */
	src: url("../fonts/Rokkitt-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/Rokkitt-Regular.otf") format("opentype"), /* Open Type Font */
		url("../fonts/Rokkitt-Regular.svg") format("svg"), /* Legacy iOS */
		url("../fonts/Rokkitt-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/Rokkitt-Regular.woff") format("woff"), /* Modern Browsers */
		url("../fonts/Rokkitt-Regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Myriad Pro";
	src: url("../fonts/myriad-pro.eot"); /* IE9 Compat Modes */
	src: url("../fonts/myriad-pro.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/myriad-pro.otf") format("opentype"), /* Open Type Font */
		url("../fonts/myriad-pro.svg") format("svg"), /* Legacy iOS */
		url("../fonts/myriad-pro.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/myriad-pro.woff") format("woff"), /* Modern Browsers */
		url("../fonts/myriad-pro.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Light.eot"); /* IE9 Compat Modes */
	src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/OpenSans-Light.otf") format("opentype"), /* Open Type Font */
		url("../fonts/OpenSans-Light.svg") format("svg"), /* Legacy iOS */
		url("../fonts/OpenSans-Light.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/OpenSans-Light.woff") format("woff"), /* Modern Browsers */
		url("../fonts/OpenSans-Light.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Regular.eot"); /* IE9 Compat Modes */
	src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/OpenSans-Regular.otf") format("opentype"), /* Open Type Font */
		url("../fonts/OpenSans-Regular.svg") format("svg"), /* Legacy iOS */
		url("../fonts/OpenSans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/OpenSans-Regular.woff") format("woff"), /* Modern Browsers */
		url("../fonts/OpenSans-Regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}