extends _layouts/_base

append vars
	-
		var title = 'about'

block content
	.page-bg
	.page
		section.page-banner
			.container
				h1.page-banner__title About
				.page-banner__image
					+picture('images/about-banner.png', 'images/about-banner@x2.png', 'images/mob-about-banner.png')

		//- section.about-video
		//- 	.container
		//- 		.js-videoAboutWrap
		//- 		//- .video-item.js-videoAbout
		//- 		//- 	iframe(src="https://www.youtube.com/embed/dTtshy4KzSY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

		section.section.section-advantages
			.container
				.advantages-top
					p Our team of SimCorp Dimension specialists provides the regular support and development services in the following Dimension areas:
				.advantages-grid__wrap
					.advantages-grid
						.advantages-col
							.advantages-card
								.advantages-card__icon
									+icon('office')
								.advantages-card__text
									p <b>Front Office &amp; Compliance</b>
									p Asset Manager, Compliance Manager (including limits on AIFMD), Order Manager, Limit Monitor, Portfolio Manager, Portfolio Workbench, Position Analysis, Rebalancing, Trade Manager, Margin Manager

						.advantages-col
							.advantages-card
								.advantages-card__icon
									+icon('management')
								.advantages-card__text
									p <b>Data Management / Instruments valuation/ Reporting</b>
									p Instruments (including ETD &amp; OTC derivatives) pricing, data import &amp; export (Data Extractors, Data format setups, SQL, Crystal reports, message queues), key rate durations, DV01, spread duration, modified &amp; option-adjusted duration, yield curves (including UFR, EONIA, OIS, ESTR, EURIBOR, LIBOR valuation), exposure (including ESMA conventions), price checks, market data validations, market data scenarios

						.advantages-col
							.advantages-card
								.advantages-card__icon
									+icon('market')
								.advantages-card__text
									p <b>Market Risk Management</b>
									p Risk Manager, Risk Measurement, Risk Factor Scenarios, Covariance manager, Risk factor manager, Equity return manager, VaR models: Parametric, Historical, Monte-Carlo, Delta Normal, Delta Gamma, Ex-Ante key ratios, Expected shortfalls and upsides

						.advantages-col
							.advantages-card
								.advantages-card__icon
									+icon('perfomance')
								.advantages-card__text
									p <b>Performance Management</b>
									p Model portfolios, Investment structure, Strategic Asset Allocation and Mandate (SAAM), Performance calculation, Performance Measurement, Benchmarks/Index valuations, key ratios (TWR, TE)

						.advantages-col
							.advantages-card
								.advantages-card__icon
									+icon('transaction')
								.advantages-card__text
									p <b>Transaction settlement &amp; reconciliation</b>
									p General reconciliation, transaction STP flow

						.advantages-col
							.advantages-card
								.advantages-card__icon
									+icon('formula')
								.advantages-card__text
									p <b>Formulas</b>
									p Constructing analytics within formulas for Asset Manager, Compliance Manager, Portfolio Calculations, Data Format Setup, Data Extractor, Portfolio Manager, User Defined Key Ratios

						.advantages-col
							.advantages-card
								.advantages-card__icon
									+icon('stock-market')
								.advantages-card__text
									p <b>Look Through data import/export/analysis</b>
									p Setting up the fund decomposition profiles, analyzing the weighting methods, pricing, residuals, fund components (including derivatives) valuation: pricing, exposure, durations

						.advantages-col
							.advantages-card
								.advantages-card__icon
									+icon('operator')
								.advantages-card__text
									p <b>Professional services</b>
									p Testing the upgrades and patches, accelerating system performance speed (load balancing, formulas, reports), customer support: analyzing and reproducing calculation of SimCorp Dimension key ratios in Excel, answering questions regarding setup algorithms and best practice, constructing the requirement specifications for implementation of new solutions, knowledge sharing and presentations

						.advantages-col
							.advantages-card
								.advantages-card__icon
									+icon('factory')
								.advantages-card__text
									p <b>Automation</b>
									p Analyze what part of business operations your company still does manually/outside of Dimension. Design &amp; implement the automation solution. Measure the STP (Straight-Through-the-Process) rate before/after automation

		section.about-article
			.container
				.about-article__flex
					.about-article__image
						img(src="images/about.png")
						h3.about-article__title Sergii Oliinyk
						h4.about-article__subtitle Team Leader
						p MSc Mathematics, MSc Banking
					.about-article__text
						p When I was a kid my dad often took me to airport, where he was fixing the airplanes and helicopters. I clearly remember how amazed I was by seeing the number of details inside of those machines. It seemed impossible that humans can build anything like that. However, the real proud came to my heart when I saw those machines flying in the sky, and I knew that those things, that dad implemented, would help them stay safe in the air, where humans were never supposed to fly.<br> Over the years I built the experience and attention, needed to work with many details during the development process. Whether it refers to software construction, business analysis or education – in the end it is about details which make a huge difference in how far we can reach towards our dreams. The astronauts pay attention to each detail, being in the space, as each of them can save the life when humanity is exposed to the area of new and unknown.

						p Working with SimCorp Dimension, I was lucky to meet the experts who share the same interests and inspiration in solution development and business analysis. Together we have established the Unique IT Solutions company (i.e. Unitso) in 2014.
						p Our team of high professional experts in SimCorp Dimension system is ready to support your business strategy with exceptional knowledge and skills. Besides the maintenance and knowledge sharing, we are focused on inventing, designing and developing the innovative & new automatic solutions, which would let your business reach the bravest goals.




