extends _layouts/_base

append vars
	-
		var title = 'Automatic data management'

block content
	.page-bg
	.page
		section.page-banner
			.container
				h1.page-banner__title.size_small Solutions &amp; Services
				.page-banner__image.style_solution
					img(src="images/solution-banner.png" alt="")
		section.section-solution
			.container
				.solution-tabs
					a(href="#").solution-tab.is-active enable <br>growth
					a(href="#").solution-tab get expertise
					a(href="#").solution-tab reduce costs
					a(href="#").solution-tab meet expectations

				.solution-buttons
					a(href="#").solution-button.is-active New SimCorp Dimension Task/project
					a(href="solution-onlinesimcorp.html").solution-button Online SimCorp Dimension<br> Support & Development
					a(href="solution-project-planning.html").solution-button Project planning
					a(href="solution-validate.html").solution-button Validate/Audit concept:

		section.section-solution
			.container
				.solution-about
					h2.solution-title Index Tracking & Portfolio Rebalancing engine

					.solution-text
						p Markets of financial instruments nowadays are significantly more complex than years ago. The obligation of fund Look Through disclosure doesn’t simplify such situation either. A variety of financial instruments, static & market data grows regularly. In a such situation it is important to establish the automated data management flow in order to serve the clients with the high quality data on time successfully.

					.solution-container
						.solution-list
							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('fast')
									h3.solution-elem__title Costs

								.solution-elem__body
									p Data Management is the entry point for all SimCorp Dimension products and services. Once the data quality is high – it saves the maintenance costs for all business operations on a regular basis.

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('scaleble')
									h3.solution-elem__title Compliance

								.solution-elem__body
									p Data management quality ensures that your commitments to customers are executed professionally and on time.

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('quality')
									h3.solution-elem__title Speed

								.solution-elem__body
									p With professionally established automatic data flows, your business operations get solid potential for scalability and market competition advantage.

						.solution-dropbox
							.dropbox-body.js-dropBoxBody(style="display: none")
								ul.ul
									li Analyze the variety of static and market data, that is imported/exported daily
									li Estimate the current STP (automation) rate
									li Investigate the backlog of errors and issues that occur + analyze their frequency
									li Design the automatic solutions for data management and data validation processes
									li Measure the impact of proposed solutions & provide a summary

						.solution-bottom
							.solution-buttons__flex
								a(href="javascript:;").button.style_border.js-toggleDropBox
									span.button__text Details
										.button__icon
											+icon('arrow-top')

								a(class="button js-modalLink" href="javascript:;" data-mfp-src="#modalForm")
									span.button__text Order

	include _parts/_modal-form