extends _layouts/_base

append vars
	-
		var title = 'Bond Forward'

block content
	.page-bg
	.page
		section.page-banner
			.container
				h1.page-banner__title.size_small Solutions &amp; Services
				.page-banner__image.style_solution
					img(src="images/solution-banner.png" alt="")
		section.section-solution
			.container
				.solution-tabs
					a(href="#").solution-tab.is-active enable <br>growth
					a(href="#").solution-tab get expertise
					a(href="#").solution-tab reduce costs
					a(href="#").solution-tab meet expectations

				.solution-buttons
					a(href="#").solution-button New SimCorp Dimension Task/project
					a(href="solution-onlinesimcorp.html").solution-button Online SimCorp Dimension<br> Support & Development
					a(href="solution-project-planning.html").solution-button Project planning
					a(href="solution-validate.html").solution-button Validate/Audit concept:

		section.section-solution
			.container
				.solution-about
					h2.solution-title Index Tracking & Portfolio Rebalancing engine

					.solution-text
						p You acquire the bond forward daily quotes from data vendors, however they are not accurate enough to be used for e.g. daily trading in SimCorp Dimension.

						p We have a new solution for you: our Bond Forward (OTC) daily pricing engine will provide you with the reliable daily quotes, which can be used for daily trading, accurate hedging and DV01 calculation.

					.solution-container
						.solution-list
							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('fast')
									h3.solution-elem__title Fast

								.solution-elem__body
									p Doesn’t require manual interference. Fully automated.

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('fast')
									h3.solution-elem__title Independent

								.solution-elem__body
									ul.ul
										li no need to acquire Bond Forward market data from data vendors anymore
										li n-house valuated prices, durations and exposure values can be used for construction of own interest rate risk hedge strategies

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('quality')
									h3.solution-elem__title High-Quality

								.solution-elem__body
									p Pricing model is based on the up-to-date market data of underlying components

						.solution-dropbox
							.dropbox-body.js-dropBoxBody(style="display: none")
								ul.ul
									li Our new solution will provide you with realistic and reliable in-house daily valuation of OTC derivative Bond Forward
									li The daily pricing process is fully automated
									li The reliable modified and credit spread durations setups are integrated
									li The model includes the integrated “data quality check” component in order to control the price, duration & market exposure quality

						.solution-bottom
							.solution-buttons__flex
								a(href="javascript:;").button.style_border.js-toggleDropBox
									span.button__text Details
										.button__icon
											+icon('arrow-top')

								a(class="button js-modalLink" href="javascript:;" data-mfp-src="#modalForm")
									span.button__text Order

	include _parts/_modal-form