extends _layouts/_base

append vars
	-
		var title = 'contacts'

block content
	.page-bg
	.page
		section.page-banner.margin_small
			.container
				h1.page-banner__title Contact
				.page-banner__image.image_compas
					+picture('images/compas.png', 'images/compas.png', 'images/compas.png')

		section.contacts
			.container
				.contacts-map

					iframe(id="gmap_canvas" src="https://maps.google.com/maps?q=Keurenplein%2041%2C%201069CD%20Amsterdam&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0")
				
				.contacts-container
					.contacts-flex
						.contacts-list
							.contacts-info
								.contacts-info__icon
									+icon('pin')
								.contacts-info__title Keurenplein 41, 1069CD Amsterdam, The&nbsp;Netherlands

							.contacts-info
								.contacts-info__icon
									+icon('phone')
								.contacts-info__title +31 6 389 003 01

							.contacts-info
								.contacts-info__icon
									+icon('info')
								.contacts-info__title info@unitso.com

							.contacts-info
								.contacts-info__icon
									+icon('clock')
								.contacts-info__title Mon to Fri - 09:00 to 18:00

						.contacts-text
							p Chamber of Commerce (KvK) no.: 61629642
							p VAT number (BTW-id): NL002525228B24

					.contacts-logo__wrap
						a(href="#").contacts-logo
							picture
								source(media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/in-2@x2.png")
								img(src="images/in-2.png")

				form.contacts-form.js-validate
					.contacts-form__flex
						.contacts-form__left
							.form-field
								input(type="text" name="name" placeholder="Your name..." required).input

							.form-field
								input(type="email" name="email" placeholder="Your e-mail..." required).input

							.form-field
								input(type="text" name="phone" placeholder="Your phone number..." minlength="1" required).input

						.contacts-form__right
							.form-field
								textarea.textarea(placeholder="Your message..." name="message" required)

					.contacts-form__submit
						button.button(disabled type="submit")
							span.button__text Send
