extends _layouts/_base

append vars
	-
		var title = 'Currency'

block content
	.page-bg
	.page
		section.page-banner
			.container
				h1.page-banner__title.size_small Solutions &amp; Services
				.page-banner__image.style_solution
					img(src="images/solution-banner.png" alt="")
		section.section-solution
			.container
				.solution-tabs
					a(href="#").solution-tab.is-active enable <br>growth
					a(href="#").solution-tab get expertise
					a(href="#").solution-tab reduce costs
					a(href="#").solution-tab meet expectations

				.solution-buttons
					a(href="#").solution-button New SimCorp Dimension Task/project
					a(href="solution-onlinesimcorp.html").solution-button Online SimCorp Dimension<br> Support & Development
					a(href="solution-project-planning.html").solution-button Project planning
					a(href="solution-validate.html").solution-button Validate/Audit concept:

		section.section-solution
			.container
				.solution-about
					h2.solution-title Index Tracking & Portfolio Rebalancing engine

					.solution-text
						p On a regular basis you execute the time-consuming currency overlay / FX hedge process. The calculations require a solid number of your specialists to be involved on a regular basis in order to hedge the clients’ portfolios and funds on time.

						p We have a new solution for you: with our Currency (FX) risk hedging engine in SimCorp Dimension you will decrease the operational risk of manual hedging, whereas your experts will analyze the results rather than spend time on calculating them.

						p Forget about currency overlay time-consuming routine - spend your time on analyzing the results rather than calculating them manually.

					.solution-container
						.solution-list
							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('fast')
									h3.solution-elem__title Fast

								.solution-elem__body
									p Uses the load balancing/parallel execution architecture

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('scaleble')
									h3.solution-elem__title Scalable

								.solution-elem__body
									p Can be rolled out for as many new clients as requested

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('quality')
									h3.solution-elem__title High-Quality

								.solution-elem__body
									p Reduces the operational risk of manual currency overlay hedge process

						.solution-dropbox
							.dropbox-body.js-dropBoxBody(style="display: none")
								ul.ul
									li Choose the preferred Currency overlay (FX risk) hedge solution: Dimension Asset Manager or Rebalancing modules
									li Stay hedged against FX risk fluctuations in the efficient and reliable way
									li Solution is scalable to as many clients as requested
									li The load-balancing (i.e. parallel execution) architecture is supported and provides a high speed execution
									li The funds’ Look Through data is supporte

						.solution-bottom
							.solution-buttons__flex
								a(href="javascript:;").button.style_border.js-toggleDropBox
									span.button__text Details
										.button__icon
											+icon('arrow-top')

								a(class="button js-modalLink" href="javascript:;" data-mfp-src="#modalForm")
									span.button__text Order

	include _parts/_modal-form