extends _layouts/_base

append vars
	-
		var title = 'get expertise'

block content
	.page-bg
	.page
		section.page-banner
			.container
				h1.page-banner__title.size_small Solutions &amp; Services
				.page-banner__image.style_solution
					img(src="images/solution-banner.png" alt="")
		section.section-solution
			.container
				.solution-tabs
					a(href="solution.html").solution-tab enable <br>growth
					a(href="get-expertise.html").solution-tab.is-active get expertise
					a(href="reduce-costs.html").solution-tab reduce costs
					a(href="#").solution-tab meet expectations

				.solution-buttons
					.solution-slider.js-solutionSlider
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									a(href="solution.html").solution-button.is-active New SimCorp Dimension task/project
									a(href="solution-onlinesimcorp.html").solution-button Online SimCorp Dimension<br> Support & Development
									a(href="solution-project-planning.html").solution-button Project planning
									a(href="solution-validate.html").solution-button Validate/Audit concept:

								.swiper-slide
									a(href="#").solution-button Professional services
									a(href="#").solution-button System performance
									a(href="#").solution-button LDI hedging engine: KRD, DV01
									a(href="#").solution-button Currency (FX) risk hedging engine

								.swiper-slide
									a(href="#").solution-button Index Tracking &amp; Portfolio Rebalancing engine
									a(href="#").solution-button Cash flow forecast engine: matching, CDI
									a(href="#").solution-button Duration calculation engine: DV01, CSD, OAD, MD, KRD
									a(href="#").solution-button Bond Forward (OTC) daily pricing engine

								.swiper-slide
									a(href="#").solution-button UFR Yield Curve expertise
									a(href="#").solution-button GIPS reporting engine
									a(href="#").solution-button Automatic data management

						.reviews-slider__nav
							.swiper-prev
								svg(width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M1 4.75H20.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M1 4.75L4 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M1 4.75L4 8.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

							.swiper-next
								svg(width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M21 4.75H1.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M21 4.75L18 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M21 4.75L18 8.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")



		section.section-solution
			.container
				.solution-about
					h2.solution-title Index Tracking & Portfolio Rebalancing engine

					.solution-text
						p You are looking for a strong SimCorp Dimension expertise support in order to construct solutions & innovations to develop your business strategy further. In the same time, the solutions or functionality, you require, are not in product line yet.

						p Our New SimCorp Dimension task/project service with provide you with highly skilled specialists capacity, which will ensure that the requested innovations/tasks are solved & implemented in the optimal way.

					.solution-container
						.solution-list
							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('fast')
									h3.solution-elem__title Fast

								.solution-elem__body
									p Our designers will analyze and choose the best solution architecture for you to ensure a high execution speed

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('scaleble')
									h3.solution-elem__title Scalable

								.solution-elem__body
									p Our experts will ensure that solution is scalable in order to meet your business requirements once the volume of data or a number of customers increases in the future

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('quality')
									h3.solution-elem__title High-Quality

								.solution-elem__body
									p Years of our expertise in SimCorp Dimension will provide your development team with unprecedented advantage in designing innovative solutions for your business strategy

						.solution-dropbox
							.dropbox-body.js-dropBoxBody(style="display: none")
								ul.ul
									li Many years of experience provide us with the wide range of instruments and skills in order to design a strong solution for your innovations
									li Creating designs and automation for new business processes is a core of our expertise
									li A solid knowledge sharing, documentation and maintenance information is included in our service
									li Together with your specialists we will discuss the concept, and ensure that the optimal solution is chosen

						.solution-bottom
							.solution-buttons__flex
								a(href="javascript:;").button.style_border.js-toggleDropBox
									span.button__text Details
										.button__icon
											+icon('arrow-top')

								a(class="button js-modalLink" href="javascript:;" data-mfp-src="#modalForm")
									span.button__text Order

	include _parts/_modal-form