doctype html
html
	head
		meta(charset="utf-8")
		title List
		include _parts/_head
	body
		div(style="max-width: 1280px; margin: 0 auto; padding: 100px 40px;")
			ul(style="margin-bottom: 60px")
				li: a(href="main.html") Main page
				li: a(href="about.html") About us
				li: a(href="news.html") News
				li: a(href="news-detailed-1.html") News detailed 1
				li: a(href="solution.html") Solution
				li: a(href="solution-onlinesimcorp.html") Solution-onlinesimcorp
				li: a(href="get-expertise.html") Solution get expertise
				li: a(href="reduce-costs.html") Solution reduce costs
				li: a(href="meet-expectations.html") Solution meet expectations
				li: a(href="solution-project-planning.html") Solution-project-planning
				li: a(href="solution-validate.html") Solution Validate the concept/ Audit
				li: a(href="ldi-hedging-enging.html") ldi-hedging-enging
				li: a(href="currency.html") Currency
				li: a(href="bond-forward.html") Bond Forwar
				li: a(href="ufr-yield.html") UFR Yield
				li: a(href="new-simcorp.html") New SimCorp Dimension task/project
				li: a(href="professional-services.html") Professional Services
				li: a(href="system-performance.html") System Performance
				li: a(href="automatic-data-management.html") Automatic data management
				li: a(href="contacts.html") Contacts
