extends _layouts/_base

append vars
	-
		var title = 'ldi-hedging-enging'

block content
	.page-bg
	.page
		section.page-banner
			.container
				h1.page-banner__title.size_small Solutions &amp; Services
				.page-banner__image.style_solution
					img(src="images/solution-banner.png" alt="")
		section.section-solution
			.container
				.solution-tabs
					a(href="#").solution-tab.is-active enable <br>growth
					a(href="get-expertise.html").solution-tab get expertise
					a(href="reduce-costs.html").solution-tab reduce costs
					a(href="#").solution-tab meet expectations

				.solution-buttons
					a(href="#").solution-button New SimCorp Dimension Task/project
					a(href="solution-onlinesimcorp.html").solution-button Online SimCorp Dimension<br> Support & Development
					a(href="solution-project-planning.html").solution-button Project planning
					a(href="solution-validate.html").solution-button Validate/Audit concept:

		section.section-solution
			.container
				.solution-about
					h2.solution-title Index Tracking & Portfolio Rebalancing engine

					.solution-text
						p With currently volatile and challenging financial markets the yield curves are not moving in parallel way anymore. You are looking for a reliable and stable interest rate risk hedge strategy, which would secure the clients’ portfolios market values fluctuations (assets & liabilities) in an effective way, despite the variety of derivatives and yield curves to be used.

						p Our new LDI hedging automatic engine for SimCorp Dimension will provide you with the requested LDI (Liability Driven Investments) hedging strategy on automatic basis.

						p Create the reliable LDI hedge strategy for interest rate risk in order to match your assets and liabilities market values regularly and reliably.

					.solution-container
						.solution-list
							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('fast')
									h3.solution-elem__title Fast

								.solution-elem__body
									p Fully automated.

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('scaleble')
									h3.solution-elem__title Safe

								.solution-elem__body
									p Reduces the operational risk of manual LDI/hedging calculation process

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('quality')
									h3.solution-elem__title High-Quality

								.solution-elem__body
									p All Fixed income instruments are supported (incl. ETD, OTC, Funds (Look Through))

						.solution-dropbox
							.dropbox-body.js-dropBoxBody(style="display: none")
								ul.ul
									li Get the reliable LDI hedge strategy against interest rate risk in case of non-parallel yield curve shift
									li A full range of fixed income instruments (including ETD, OTC derivatives, funds(Look Through)) is supported
									li Enjoy a flexibility of yield curve (YC) choice (including UFR, EONIA, ESTR, EURIBOR, LIBOR)
									li A solution provides the additive KRDs for liquid YC term points: a sum of results is aggregated to the total DV01 of portfolio
									li Benefit from our automatic solution without need of manual interference in SimCorp Dimension
									li Integrated “quality control module” will decrease the time, spent by your specialists for analysis of missing data (i.e. the missing prices, durations and exposures would be caught and reported to users automatically)
									li Gain from high execution speed: the optimized architecture will provide you with LDI hedge strategy results as soon as possible

						.solution-bottom
							.solution-buttons__flex
								a(href="javascript:;").button.style_border.js-toggleDropBox
									span.button__text Details
										.button__icon
											+icon('arrow-top')

								a(class="button js-modalLink" href="javascript:;" data-mfp-src="#modalForm")
									span.button__text Order

	include _parts/_modal-form