extends _layouts/_base

append vars
	-
		var title = 'main'

block content
	.page-bg
	.page
		section.section.description
			.container
				.description-wrap
					.description-content
						h1.description-title We automate & support your SimCorp Dimension environment today
						.description-text
							p so that you stay ahead in the competitive & complex world tomorrow

					.description-image
						+picture('images/rocket.png', 'images/rocket@x2.png', 'images/mob-rocket.png')

		section.section.reviews
			.container
				.reviews-head
					h2.page-title What our customers say:

				.reviews-grid__wrap
					.reviews-grid
						.reviews-col
							a(href="#").reviews-image
								picture
									source(media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/reviews-logo-1@x2.png")
									img(src="images/reviews-logo-1.png" width="133px")

						.reviews-col
							a(href="#").reviews-image
								picture
									source(media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/reviews-logo-2@x2.png")
									img(src="images/reviews-logo-2.png" width="170px")

						//- .reviews-col
						//- 	a(href="#").reviews-image
						//- 		picture
						//- 			source(media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/reviews-logo-3@x2.png")
						//- 			img(src="images/reviews-logo-3.png" width="130px")

						.reviews-col
							a(href="#").reviews-image
								picture
									source(media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/reviews-logo-4@x2.png")
									img(src="images/reviews-logo-4.png" width="79px")

						.reviews-col
							a(href="#").reviews-image
								picture
									source(media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/reviews-logo-5@x2.png")
									img(src="images/reviews-logo-5.png" width="76px")

						.reviews-col
							a(href="#").reviews-image
								picture
									source(media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/reviews-logo-6@x2.png")
									img(src="images/reviews-logo-6.png" width="89px")

						//- .reviews-col
						//- 	a(href="#").reviews-image
						//- 		picture
						//- 			source(media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/reviews-logo-7@x2.png")
						//- 			img(src="images/reviews-logo-7.png" width="135px")

						.reviews-col
							a(href="#").reviews-image
								picture
									source(media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/reviews-logo-8@x2.png")
									img(src="images/reviews-logo-8.png" width="131px")

				.reviews-slider.js-reviewsSlider
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											p During my job at KAS BANK, I had the privilege to have Sergii Oliinyk in my team. Although we had a good team with a certain experience, there still was a Dimension gap which Sergii closed for many years. His knowledge of the SimCorp Dimension application is outstanding. Together with the knowledge of the asset management industry and especially of the risk instruments area, Sergii was a special added value. What it makes even more special is, that Sergii combined this with a positive attitude that could change your day and the capability to co-work with every team member. With Sergii in your team as a SimCorp Dimension specialist, you are able to get your Dimension application at a higher level.

										.card-link__wrap
											a(class="card-link js-modalLink" href="javascript:;" data-mfp-src="#modalCard") Read more

									.card-body
										.card-icon
											img(src="images/review-1.png")

										.card-text
											h3.card-title Bob Enthoven
											p Business Analyst - Information Management at MN Netherlands

							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											p Sergii is by far the best Simcorp Dimension specialist I have ever worked with. A very thorough background in finance and mathematics combined with years of experience at Simcorp Dimension makes him the ideal candidate for more specialized and complex projects and changes in Simcorp. On top of that he has a team of specialists behind him that helps him out in case a project should be finalized within time constraints that are “unreasonable”. On top of being technical Sergii is a very nice and communicative person (which could be a rare combination with technicians). He always starts with a very clear project planning in cost and time including some scenarios and has always delivered within those boundaries. I would recommend Sergii to any employer and I am sure our path will also cross again in the near future.

										.card-link__wrap
											a(class="card-link js-modalLink" href="javascript:;" data-mfp-src="#modalCard") Read more

									.card-body
										.card-icon
											img(src="images/review-2.png")

										.card-text
											h3.card-title Mark Schilstra
											p Country Head at BNP Paribas Bank - Securities Services Netherlands
							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											p I had the privilege to work with Sergii Oliinyk at Kas Bank. During challenging projects we executed on SimCorp dimension for several clients, I was impressed by the high standards and excellent performance Sergii always delivered regardless of the function he executed. Sergii is not only a great consultant and developer, but also a great team leader who always knew how to motivate the coworkers to deliver the best work. Sergii knows how to convert an unorganized team into a high profile one by creating structures and achieving exceptional results. Due to his outstanding knowledge, creativity and dedication, Sergii definitely assimilates easily in tough environments and during great pressure and strict deadlines. In addition to his skills and knowledge, his positive attitude and humor made him a pleasant team-player and of great value to our clients. Therefore, I hope to have the pleasure to work with him again.

										.card-link__wrap
											a(class="card-link js-modalLink" href="javascript:;" data-mfp-src="#modalCard") Read more

									.card-body
										.card-icon
											img(src="images/review-3.png")

										.card-text
											h3.card-title Hoang Loc Thanh Ho
											p Simcorp Specialist at A.S.R. Netherlands
							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											p The GIPS reporting engine ensures the automatic extraction of all the GIPS Composites figures in Excel such that they can be used for presentation in different type of reports. The GIPS reporting engine extracts the actual GIPS figures and no extra Excel calculations are necessary in order to further process the data. The engine guarantees that the exported data is up-to-date and in line with the changes implemented in the GIPS module. As the extraction of the data is done automatically the human error factor is eliminated and additionally no human capacity is needed for this task. To summarize the GIPS reporting engine increases precision and productivity by automatically extracting the GIPS figures.

										.card-link__wrap
											a(class="card-link js-modalLink" href="javascript:;" data-mfp-src="#modalCard") Read more

									.card-body
										.card-icon
											img(src="images/review-4.png")
										.card-text
											h3.card-title Loana Deac
											p Performance Analyst at Achmea Investment Management Netherlands
							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											p Sergii has it all! Any issue in investment and financial accounting, performance, risk and reporting he will analyze & solve and kindly explain and show to you how to do it. Also presentations to clients of any of these subjects I attended he did excellent and with great expertise and pleasure. Sergii is a very nice person who lets other people shine.

										.card-link__wrap
											a(class="card-link js-modalLink" href="javascript:;" data-mfp-src="#modalCard") Read more

									.card-body
										.card-icon
											img(src="images/review-5.png")

										.card-text
											h3.card-title Eiko Schuurman
											p SimCorp Dimension Professional at PGB pension funds
							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											p In the Matching-Link project, we developed and implemented a new cloud-based Currency and Duration Overlay system in cooperation with the Fintech company Matching-Link. The main goal was to develop an automated overlay system, that is fully integrated with the Administration Bank and the Trading Desk at KAS BANK NV. We developed a standardized process flow system, with a tailor-made setup for each client and thereby avoiding unnecessary complexity and creating more transparency, efficiency and control. Sergii was a member of the project and responsible for the link between the administration system Dimension and MatchingLink. He did an excellent job by creating the API on the Dimension side. I enjoyed the technical brainstorm sessions regarding the use of complex data for hedging purposes.

										.card-link__wrap
											a(class="card-link js-modalLink" href="javascript:;" data-mfp-src="#modalCard") Read more

									.card-body
										.card-icon
											img(src="images/review-6.png")

										.card-text
											h3.card-title Bart Osinga
											p Balance Sheet Manager at CACEIS Bank Netherlands
							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											ul.ul
												li In the past we use to request the cash flows for the investment funds from the asset manager. We did not know if there was derivatives in the underlying positions or if the cash flows were calculated based on the DNB guidelines. Now we have the underlying positions, the basis of the cash flow is transparent.
												li In the past we use to insert cash flows and underlying positions. The cash flows were inserted, we had to wait till when reporting finished the reports/calculations, so we can enter the holdings so reporting could continue with the FTK report.
												li 

											p The engine cash flow had positive results for Data Management and Reporting :
											ul.ul
												li The reports are based on the same data.
												li The additional work has been limited. There for we used to insert 2 different data for the reports and now we insert one data for the reports. Time saving
												li The risks are now minimized. We have to reconcile only one data instead of 2 different data in the same timeframe. Adding 2 different data gives a higher risk for errors.
												li The basis of the cash flow calculation in SimCorp Dimension is clear.

										.card-link__wrap
											a(class="card-link js-modalLink" href="javascript:;" data-mfp-src="#modalCard") Read more

									.card-body
										.card-icon
											img(src="images/review-7.png")

										.card-text
											h3.card-title Solens Salome
											p Unit Manager Dataservices at CACEIS Bank Netherlands

							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											p Sergii helped us with analyzing Cash flow reporting in which he gave us a deeper understanding of Cash Flow reporting as a whole. It’s now a lot clearer what kind of bond should produce which kind of cash flow and which parameters influence these flows. Furthermore he kept us informed very well the entire process, which was really nice as we exactly knew what had to be done and when this was going to be done. This gave me the confidence the project would be finished in a timely matter with the right outcome.

										.card-link__wrap
											a(class="card-link js-modalLink" href="javascript:;" data-mfp-src="#modalCard") Read more

									.card-body
										.card-icon
											img(src="images/review-8.png")

										.card-text
											h3.card-title Joshua Davidsson
											p Reporting Analyst at Achmea Investment Management Netherlands

							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											p The systematic implementation of Solvency automation with regards to the comparison of two QRTs over a period of time have enabled us to improve the overall quality of data reported in a given period and keep pace with the general movement in the market with more efficient use of available resources. The teamwork and alignment of the requirements between Reporting Services and the SimCorp Expertise Center have led to a solid output that we continue to build on in the future. Overall Sergii work ethics have enabled us to continuously improve, not only with Solvency, but rather with a variety of topics that make out the business today. It's such a refreshment to have someone not only participating in the needs of the business but add valuable insights to improve ideas.

										.card-link__wrap
											a(class="card-link js-modalLink" href="javascript:;" data-mfp-src="#modalCard") Read more
									.card-body
										.card-icon
											img(src="images/review-9.png")

										.card-text
											h3.card-title Walid Benkaddour
											p Senior Business Controller at CACEIS Bank Netherlands

							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											p The change of the LDI calculation towards the KRD approach, has been a real asset in analyzing interest sensitivities of fixed income portfolios of our clients. Sergii has also been a great help in providing explanation about the details of the calculation in SimCorp Dimension; which was needed in several discussions with external providers (mostly asset managers) about differences observed in interest rate sensitivities.

										.card-link__wrap
											a(class="card-link js-modalLink" href="javascript:;" data-mfp-src="#modalCard") Read more

									.card-body
										.card-icon
											img(src="images/review-10.png")

										.card-text
											h3.card-title Arjan Smit
											p Investment Manager at ABN AMRO Pension funds

							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											p For the KAS BANK Index Tracking proposition we needed a tool to rebalance the portfolios. Manually rebalancing an index which consists of hundreds or maybe even a thousand positions is prone to errors. As such, we needed an automatic rebalancing machine. We were very happy to find out that Sergii built such a module in SimCorp Dimension. The module runs automatically and gives us much options in cash management. FX, rebalancing timing and execution, indices and much more. Sergii, as a founding father of this fantastic module, worked enthusiastically with us to customize the module to our wishes and to improve the module where needed. As project leader, I experienced working with Sergii as a proactive and trustworthy colleague.

										.card-link__wrap
											a(class="card-link js-modalLink" href="javascript:;" data-mfp-src="#modalCard") Read more

									.card-body
										.card-icon
											img(src="images/review-11.png")

										.card-text
											h3.card-title Martijn Blokzeijl
											p Balance Sheet Manager at CACEIS Bank Netherlands

							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											p Sergii made the GIPS reporting engine. The GIPS reporting engine helps the Performance team a lot. It enables us to extract all the relevant number required by the GIPS rules in an efficient way. Additionally, the extract takes very good into account broken composites, termination dates etc. This makes the report very robust.

										.card-link__wrap
											a(class="card-link js-modalLink" href="javascript:;" data-mfp-src="#modalCard") Read more

									.card-body
										.card-icon
											img(src="images/review-12.png")

										.card-text
											h3.card-title Roger Theunissen, CFA
											p Valuation & Data Analyst at BNP Paribas Bank - Securities Services Netherlands

							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											p I highly recommend Sergii - he is very smart, with great analytical, math and technical skills and a solid background in SimCorp Dimension. When I met Sergii at SimCorp, he started as a Junior tester but very quickly raised his testing skills to a Senior level. He worked with the sophisticated risk calculations in SCD and was able to deep dive into it fast and efficiently. Later on, Sergii moved to a software development role at SimCorp, writing the quality code and quickly got the Dev Lead position. Sergii is a real expert in most of the SCD modules as he also has a huge implementation consultant experience in the top European financial institutions. Also, Sergii is a very nice person, really easy to communicate with, always ready to help his colleagues, and with a great sense of humor. I would really like to work with him again and can recommend him without any doubt.
										.card-link__wrap
											a(class="card-link js-modalLink" href="javascript:;" data-mfp-src="#modalCard") Read more

									.card-body
										.card-icon
											img(src="images/review-13.png")

										.card-text
											h3.card-title Maryna Sukhomlynova
											p Scrum Master at GlobalLogic

							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											p Working with Sergii was an absolute privilege. He is very knowledgeable. His work is structured and of high quality. He is a brilliant sparring partner, always willing to help. If he is not familiar with the problem you present to him, he will try and find as much information possible, so he can give you a solution or a direction towards a working solution. He will go the extra mile to help you. Always stimulating and motivating people around him with his positive energy and look on life. He is just a great guy and a very welcome addition to your team. If you have a problem and if no one else can help and if you can find him, maybe you can hire Sergii.
										.card-link__wrap
											a(class="card-link js-modalLink" href="javascript:;" data-mfp-src="#modalCard") Read more

									.card-body
										.card-icon
											img(src="images/review-14.png")

										.card-text
											h3.card-title Christiaan Van Rietschoten
											p Business Analyst - Simcorp Dimension at CACEIS Bank Netherlands

							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											p Sergii is a highly talented business analyst and developer with exceptional skills on both functional and technical discipline. When working together at KAS Bank, I noticed Sergii has a huge experience on the broad range of SimCorp Dimension modules and he is able to complete multiple projects on a very professional way, like it is natural to him. Above all Sergii is a great person, interested, eager to learn and always helpful to colleagues and I give him my full recommendation.
										.card-link__wrap
											a(class="card-link js-modalLink" href="javascript:;" data-mfp-src="#modalCard") Read more

									.card-body
										.card-icon
											img(src="images/review-15.png")

										.card-text
											h3.card-title Richard De Laat
											p Business Information Analyst at BNP Paribas Bank - Securities Services Netherlands

							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											p The work that Sergii provided had a significant impact on our work. Having the liabilities vector analysis in SimCorp Dimension opened the door to do more analysis in SimCorp Dimension and get rid of the excel sheet. Also a good analysis in a quality system ensured we got reliable analysis.
										.card-link__wrap
											a(class="card-link js-modalLink" href="javascript:;" data-mfp-src="#modalCard") Read more

									.card-body
										.card-icon
											img(src="images/review-16.png")

										.card-text
											h3.card-title Mahsun Dogan, CFA
											p Portfolio Manager at Fixed Income at PGB pension funds

							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											p I worked with Sergii for 4 years at KAS Bank in the Data Management team. His knowledge about SimCorp Dimension is exceptional. When asked for assistance to implement new functionalities Sergii's out of the box thinking and hands on mentality is extremely helpful in getting things done. He has very strong communication skills and always listens carefully to client requirements. Both his knowledge and his kindly attitude make him a great person to have in your team.
										.card-link__wrap
											a(class="card-link js-modalLink" href="javascript:;" data-mfp-src="#modalCard") Read more

									.card-body
										.card-icon
											img(src="images/review-17.png")

										.card-text
											h3.card-title Jos van Ruiten
											p Senior Data Consultant Simcorp Dimension at MN Netherlands

							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											p I had the pleasure of working with Sergii at the Kas Bank. Together we worked on the Performance implementation project and on the ASP service desk. Sergii is a patient and friendly colleague who has no problem with sharing knowledge and taking the extra step for your team. He has impressive knowledge and with SimCorp Dimension. Besides this he has strong knowledge about market risk models and regulatory frameworks. This combination allows him to understand complex requirements and develop solutions that are easy to use and scalable among many portfolios. I would definitely recommend Sergii as a leading Business Analyst or project manager for your projects.
										.card-link__wrap
											a(class="card-link js-modalLink" href="javascript:;" data-mfp-src="#modalCard") Read more

									.card-body
										.card-icon
											img(src="images/review-18.png")

										.card-text
											h3.card-title Jelmer de Ruiter, FRM
											p Business Analyst at PGB pension funds

							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											p It was a pleasure to work with Sergii at KAS BANK. His good knowledge of financial instruments, valuations models, sensitivity ratios, interpolation methods together with high analitical skills, deep knowledge of SimCorp Dimension and good planning allow the projects to go smoothly and be finished on time. Sergii is very helpful and provides detailed and user friendly explanation of investigated issue or solution to completed task/project. Highly recommended! Sergii, hope to work with you again!
										.card-link__wrap
											a(class="card-link js-modalLink" href="javascript:;" data-mfp-src="#modalCard") Read more

									.card-body
										.card-icon
											img(src="images/review-19.png")

										.card-text
											h3.card-title Anna Adacha
											p Unit Manager Data Services at CACEIS Bank Netherlands

							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											p Together with Sergii we were involved in a project about a new investment category that had to be implemented in SimCorp Dimension. Therefore it raised a lot of challenging questions and discussions. Sergii came up with the requirement specification as a result of these discussions. One of the issues was pricing of the instrument given its illiquidity character. Pricing is an important part of position maintenance because of collateral exchange. Sergii also thought a lot about all the procedures and processes that come up when setting and maintaining an instrument: investment structure, performance, reports, etc. Everything is documented properly and extensively, how to administrate as well as how to treat the transactions in the workflow. We enjoyed working together and are grateful for the results achieved.
										.card-link__wrap
											a(class="card-link js-modalLink" href="javascript:;" data-mfp-src="#modalCard") Read more

									.card-body
										.card-icon
											img(src="images/review-20.png")

										.card-text
											h3.card-title Alla van Aalst - Okoulevitch, CFA
											p Portfolio Manager at Achmea Investment Management

							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											p I worked with Sergii at the KAS Bank. He was the leading man for the difficult challenges in SimCorp Dimension. Sergii has very much experience with and a lot of knowledge of SimCorp Dimension. It is really amazing. No question or challenge is too big for him. Besides of that he knows also very much of fund accounting, financial markets/products, reports, etc. I have learned so much from him. He is a real genius and he really loves to share his knowledge. Sergii is a real team-player, he makes everyone better. It is a pleasure to have someone in your team. Sergii is an great addition for everyone. I hope I will work with Sergii again in the future.
										.card-link__wrap
											a(class="card-link js-modalLink" href="javascript:;" data-mfp-src="#modalCard") Read more

									.card-body
										.card-icon
											img(src="images/review-21.png")

										.card-text
											h3.card-title Bas de Loos
											p Senior Financial Professional at ABN AMRO Bank

							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											p Whenever in need of a SimCorp consultant, Sergii would definitely be my first pick. His knowledge of SimCorp is unparalleled and Sergii brings a lot of can-do mentality and positive energy to the team. Highly recommended.
										//- .card-link__wrap
										//- 	a(class="card-link js-modalLink" href="javascript:;" data-mfp-src="#modalCard") Read more

									.card-body
										.card-icon
											img(src="images/review-22.png")

										.card-text
											h3.card-title Arnaud Van Beek, CFA, CIPM
											p Business analyst – Compliance at Achmea Investment Management

							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											p Every investment - and accounting Firm needs to rely on their IT Landscape and in use applications. Working with Sergii, who truly knows the ins and outs of SimCorp Dimension software, I was impressed by the solutions delivered. Into depth and strong analysis, it's been a great pleasure to find someone who can take product development to a next level. With help of his profound knowledge of APL and his systematic way of working, the company has been benefited greatly through his presence. I must mention his talent of managing projects and his skill of communication!
										.card-link__wrap
											a(class="card-link js-modalLink" href="javascript:;" data-mfp-src="#modalCard") Read more

									.card-body
										.card-icon
											img(src="images/review-23.png")

										.card-text
											h3.card-title Hein Ram
											p Sr. Oversight - Depositary Compliance Specialist at CACEIS Bank Netherlands

							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											p It has been a pleasure working with Sergii for the past months. Coming fresh from university the challenge is putting theory into practice and Sergii has definitely helped in that regard. SimCorp Dimension holds little to no secrets for him and he has been able to show me exactly how Dimension values complex derivatives, which has been crucial for my ability to do my job. This demonstrates his high level of expertise and analytical skill. Aside from this, Sergii is also a great person to work with, communicating effectively, and he is able to go from a complicated problem to an effective and clear solution in a structured and systematic way. He will add great value and expertise to your team.
										.card-link__wrap
											a(class="card-link js-modalLink" href="javascript:;" data-mfp-src="#modalCard") Read more

									.card-body
										.card-icon
											img(src="images/review-24.png")

										.card-text
											h3.card-title Leander Konings
											p Valuation Analyst at BNP Paribas Securities Services | MSc Finance

							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											p Sergii and I have worked together for several years, as direct colleagues but also in projects. He knows a lot about SimCorp Dimension as well as the developments in the market. This combination is very useful in projects. Whenever there is a question Sergii will make a full analysis of the situation. For people who do not understand the system this is appreciated a lot. Sergii is always happy to help whenever you need help.
										.card-link__wrap
											a(class="card-link js-modalLink" href="javascript:;" data-mfp-src="#modalCard") Read more

									.card-body
										.card-icon
											img(src="images/review-25.png")

										.card-text
											h3.card-title Lysa Lie
											p Associate Consultant at Northern Trust Corporation

							.swiper-slide
								.card
									.card-border
										.pattern_1
											+icon('pattern-1')
										.pattern_2
											+icon('pattern-2')
										.card-border__text
											p To work with Sergii is guarantee that all problems will be solved.

									.card-body
										.card-icon
											img(src="images/review-26.png")

										.card-text
											h3.card-title Iuliia Nikitina
											p Business Analyst at EPAM systems

					.reviews-slider__nav
						.swiper-prev
							svg(width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(d="M1 4.75H20.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
								path(d="M1 4.75L4 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
								path(d="M1 4.75L4 8.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

						.swiper-next
							svg(width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(d="M21 4.75H1.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
								path(d="M21 4.75L18 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
								path(d="M21 4.75L18 8.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

		//- section.section.main-about
		//- 	.container
		//- 		h3.main-about__title SimCorp Dimension Expertise
		//- 		.main-about__logo
		//- 			a(href="#")
		//- 				picture
		//- 					source(media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/logo-grey@x2.png")
		//- 					img(src="images/logo-grey.png")

		//- 		.main-about__text
		//- 			p Unique IT Solutions

		section.section.section-advantages
			.container
				h3.page-title Why us?
				h4.page-subtitle With years of experience in SimCorp Dimension system, business analysis and project management our team provides your business with the following advantages:

				.advantages-grid__wrap
					.advantages-grid
						.advantages-col
							.advantages-card
								.advantages-card__icon
									+icon('shield')
								.advantages-card__text Protect your interests in affairs with original system vendor

						.advantages-col
							.advantages-card
								.advantages-card__icon
									+icon('trophy')
								.advantages-card__text Be faster and more flexible than your competitors, using the Online SimCorp Dimension Support & Development service

						.advantages-col
							.advantages-card
								.advantages-card__icon
									+icon('diamond')
								.advantages-card__text Take an advantage of the high quality expertise service from certified professionals

						.advantages-col
							.advantages-card
								.advantages-card__icon
									+icon('benefit')
								.advantages-card__text Benefit from full control over budgeting & planning, using the “expected development time/costs plan”

						.advantages-col
							.advantages-card
								.advantages-card__icon
									+icon('faster')
								.advantages-card__text Gain from SimCorp Dimension knowledge sharing

						.advantages-col
							.advantages-card
								.advantages-card__icon
									+icon('people')
								.advantages-card__text Get the reliable, fast and effective support for constructed solutions

						.advantages-col
							.advantages-card
								.advantages-card__icon
									+icon('enjoy')
								.advantages-card__text Enjoy the full control over tasks' status & regular progress updates


	include _parts/_modal-card