extends _layouts/_base

append vars
	-
		var title = 'New SimCorp Dimension task/project'

block content
	.page-bg
	.page
		section.section-solution
			.container
				.solution-head
					h1.solution-title SimCorp Dimension Solutions & Services
				.solution-tabs
					a(href="#").solution-tab.is-active enable <br>growth
					a(href="#").solution-tab get expertise
					a(href="#").solution-tab reduce costs
					a(href="meet-expectations.html").solution-tab meet expectations

				.solution-buttons
					a(href="#").solution-button.is-active New SimCorp Dimension Task/project
					a(href="solution-onlinesimcorp.html").solution-button Online SimCorp Dimension<br> Support & Development
					a(href="solution-project-planning.html").solution-button Project planning
					a(href="solution-validate.html").solution-button Validate/Audit concept:

		section.section-solution
			.container
				.solution-about
					h2.solution-title Index Tracking & Portfolio Rebalancing engine

					.solution-text
						p You are looking for a strong SimCorp Dimension expertise support in order to construct solutions & innovations to develop your business strategy further. In the same time, the solutions or functionality, you require, are not in product line yet.

						p Our New SimCorp Dimension task/project service with provide you with highly skilled specialists capacity, which will ensure that the requested innovations/tasks are solved & implemented in the optimal way.

					.solution-container
						.solution-list
							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('fast')
									h3.solution-elem__title Fast

								.solution-elem__body
									p Our designers will analyze and choose the best solution architecture for you to ensure a high execution speed

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('scaleble')
									h3.solution-elem__title Scalability

								.solution-elem__body
									p Our experts will ensure that solution is scalable in order to meet your business requirements once the volume of data or a number of customers increases in the future

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('quality')
									h3.solution-elem__title High-Quality

								.solution-elem__body
									p Years of our expertise in SimCorp Dimension will provide your development team with unprecedented advantage in designing innovative solutions for your business strategy

						.solution-dropbox
							.dropbox-body.js-dropBoxBody(style="display: none")
								ul.ul
									li Many years of experience provide us with the wide range of instruments and skills in order to design a strong solution for your innovations
									li Creating designs and automation for new business processes is a core of our expertise
									li A solid knowledge sharing, documentation and maintenance information is included in our service
									li Together with your specialists we will discuss the concept, and ensure that the optimal solution is chosen

						.solution-bottom
							.solution-buttons__flex
								a(href="javascript:;").button.style_border.js-toggleDropBox
									span.button__text Details
										.button__icon
											+icon('arrow-top')

								a(class="button js-modalLink" href="javascript:;" data-mfp-src="#modalForm")
									span.button__text Order

	include _parts/_modal-form