extends _layouts/_base

append vars
	-
		var title = 'news  detailed 2'

block content
	.page-bg
	.page
		.page-back
			.container
				.back-wrap
					a(href="news.html").back
						.back-icon
							+icon('back')
						.back-text Back

		section.section.section-article
			.container
				article.article
					.video-wrap.js-videoAboutWrap
						.video-item.js-videoAbout
							iframe(src="https://www.youtube.com/embed/1Fx13eQJgYU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

					h1 Unitso

					.date 19 of July

					p During this assignment I have a pleasure to cooperate with a team of strong experts in the financial risk and performance management areas. On a daily basis we develop and provide the reliable solutions, as well as a solid consultancy expertise to our clients world-wide. The creativity and innovation way of thinking is a core of our success.

					p Experience: <br> Develop &amp; Automate the financial risk reports in SimCorp Dimension: LDI, risk concentration and decomposition, investment structures and SAAM, modelling, TWR and volatility measurements, market data stress scenarios, duration related ratios, Portfolio Calculations setups

					p Crystal Reports engineering <br> AIFMD / Solvency/ FTK reporting automation &amp; compliance

					p Data management solutions: automation of data validation &amp; valuation, optimization of setups, pricing methods and pricing profiles, Look Through funds data &amp; decomposition algorithms, auxiliary market data, yield curves (ESTER, EONIA, UFR), IBOR / ABOR consistency, automatic data import &amp; export, financial instruments valuation

					p Performance and risk measurements: indexes and benchmarks setups, return calculations, VaR, TWR, automation

					p #simcorpdimension #businessconsultancy #unitso