extends _layouts/_base

append vars
	-
		var title = 'news detailed 1'

block content
	.page-bg
	.page
		.page-back
			.container
				.back-wrap
					a(href="news.html").back
						.back-icon
							+icon('back')
						.back-text Back

		section.section.section-article
			.container
				article.article
					+picture('images/news-1.jpg', 'images/news-1@x2.jpg', 'images/mob-news-1.jpg')

					h1 Our Expertise

					.date 19 of July

					p Join ou SimCorp Dimension Expertise group <a href="lnkd.in/dR-9mF8">lnkd.in/dR-9mF8</a> and feel free to ask your questions!
					p With 14 years of experience in SimCorp Dimension system, business analysis and project management we provide you with the following advantages:
					p Protect your interests in affairs with original system vendors
					p Be faster and more flexible than your competitors, using 24/7 Online SimCorp Dimension Support &amp; Development service
					p Take an advantage of the high quality expertise from certified professionals
					p Benefit from full control over budgeting &amp; planning, using the “expected development &amp; implementation time/costs plan” for projects
					p Gain from SimCorp Dimension knowledge sharing for your employees
					p Get the reliable, fast and effective support for delivered solutions
					p Enjoy the full control over tasks’ status: with regular progress updates in your task tracking system
					p SimCorp Dimension expertise areas:
					p Front Office:<br> Asset Manager, Compliance Manager, Portfolio Manager, Rebalancing, index derivatives &amp; funds decomposition flow, data imports, formulas

					p Middle office: <br> Performance Calculation/Measurement/Manager, Index and Benchmark, Contributions, Modelling, Strategic asset allocation and mandates, Risk Measurement/Manager (Monte- Carlo/Historical/Parametric (Delta-Normal)/Ex-Ante Value-at-Risk (VaR) models, delta vectors, market Exposure measurement methodologies), Market Data Scenarios, Risk Factor scenarios, market data stress tests

					p Back office:<br> Settlement STP, Portfolio Calculations, formulas, reporting (Data extractor, Crystal Reports, SQL)
					p System upgrades <br> System performance improvement, automation of system processes, upgrade &amp; new functionality tests
					p Pricing <br> Instrument pricing models: fixed income, equities: derivatives &amp; funds (Look Through). Pricing profiles, yield curves, theoretical valuation, risk and duration related pricing models, market data validation, funds/Look Through pricing, FX rate profiles and updater, volatility curves
					p Special automatic offers in SimCorp Dimension system:
					ul.ul
						li LDI hedge strategy
						li Cash Flows forecast (incl. derivatives, funds (Look Through)) engine
						li Index Tracking &amp; Portfolio rebalancing
						li Currency overlay (FX risk hedging)
						li GIPS, Solvency, AIFMD, FTK reports
						li Duration calculations: DV01, CSD, OAD, MD, KRD
						li IRS swap (OIS, EONIA, ESTER), Swaption, Bond Forward (OTC) daily pricing, UFR
						li Data management
						li System performance