extends _layouts/_base

append vars
	-
		var title = 'news'

block content
	.page-bg
	.page
		section.page-banner
			.container
				h1.page-banner__title.mob_margin_top News
				.page-banner__image.image_bird
					+picture('images/bird.png', 'images/bird@x2.png', 'images/mob-bird.png')

		section.news
			.container
				.news-list
					a(href="news-detailed-1.html").news-elem
						.news-elem__image
							+picture('images/news-1.jpg', 'images/news-1@x2.jpg', 'images/mob-news-1.jpg')

						.news-elem__content
							h3.news-elem__title SimCorp A/S - Share buyback program
							.date 19 of July
							.news-elem__text
								p I’m not generally good at doing nothing. I’m a time-management and productivity expert, and I also have five children; I’m almost never idle.

							.news-elem__link
								.link.has_icon
									.link-text see more
									.link-icon
										+icon('arrow-link')

					a(href="news-detailed-2.html").news-elem
						.news-elem__image.style_video
							+picture('images/news-1.jpg', 'images/news-1@x2.jpg', 'images/mob-news-1.jpg')
							.play
								+icon('play')

						.news-elem__content
							h3.news-elem__title SimCorp A/S - Share buyback program
							.date 01 of July
							.news-elem__text
								p I’m not generally good at doing nothing. I’m a time-management and productivity expert, and I also have five children; I’m almost never idle.

							.news-elem__link
								.link.has_icon
									.link-text see more
									.link-icon
										+icon('arrow-link')

					a(href="news-detailed-1.html").news-elem
						.news-elem__image
							+picture('images/news-1.jpg', 'images/news-1@x2.jpg', 'images/mob-news-1.jpg')

						.news-elem__content
							h3.news-elem__title SimCorp A/S - Share buyback program
							.date 19 of July
							.news-elem__text
								p I’m not generally good at doing nothing. I’m a time-management and productivity expert, and I also have five children; I’m almost never idle.

							.news-elem__link
								.link.has_icon
									.link-text see more
									.link-icon
										+icon('arrow-link')

					a(href="news-detailed-2.html").news-elem
						.news-elem__image.style_video
							+picture('images/news-1.jpg', 'images/news-1@x2.jpg', 'images/mob-news-1.jpg')
							.play
								+icon('play')

						.news-elem__content
							h3.news-elem__title SimCorp A/S - Share buyback program
							.date 01 of July
							.news-elem__text
								p I’m not generally good at doing nothing. I’m a time-management and productivity expert, and I also have five children; I’m almost never idle.

							.news-elem__link
								.link.has_icon
									.link-text see more
									.link-icon
										+icon('arrow-link')

				.page-pagination
					a(href="#").swiper-prev.disabled
						svg(width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg")
							path(d="M1 4.75H20.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
							path(d="M1 4.75L4 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
							path(d="M1 4.75L4 8.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

					a(href="#").swiper-next
						svg(width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg")
							path(d="M21 4.75H1.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
							path(d="M21 4.75L18 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
							path(d="M21 4.75L18 8.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
