extends _layouts/_base

append vars
	-
		var title = 'Professional Services'

block content
	.page-bg
	.page
		section.page-banner
			.container
				h1.page-banner__title.size_small Solutions &amp; Services
				.page-banner__image.style_solution
					img(src="images/solution-banner.png" alt="")
		section.section-solution
			.container
				.solution-tabs
					a(href="#").solution-tab.is-active enable <br>growth
					a(href="#").solution-tab get expertise
					a(href="#").solution-tab reduce costs
					a(href="meet-expectations.html").solution-tab meet expectations

				.solution-buttons
					a(href="#").solution-button.is-active New SimCorp Dimension Task/project
					a(href="solution-onlinesimcorp.html").solution-button Online SimCorp Dimension<br> Support & Development
					a(href="solution-project-planning.html").solution-button Project planning
					a(href="solution-validate.html").solution-button Validate/Audit concept:

		section.section-solution
			.container
				.solution-about
					h2.solution-title Index Tracking & Portfolio Rebalancing engine

					.solution-text
						p You run business operations in SimCorp Dimension on a regular basis. In order to ensure the correctness of the results and comply with the system performance challenges (as well as get new modules activated) you upgrade and install patches to SimCorp Dimension.

						p However, the upgrade and patch installations require the detailed quality assurance tests to be executed in order to decrease a probability of unexpected issues in production. On top of it your specialists would benefit from strong Dimension expertise, which would help to execute such system modifications effectively.

						p Our new Professional Services will provide you with requested knowledge and experience to succeed in such tasks.

					.solution-container
						.solution-list
							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('fast')
									h3.solution-elem__title Fast

								.solution-elem__body
									p Our team has a significant experience in SimCorp Dimension system. We will ensure that the requested tasks are executed with the highest quality in the fastest way.

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('scaleble')
									h3.solution-elem__title Costs

								.solution-elem__body
									p The professional services are expected to reduce the number of operational issues via providing the high quality SimCorp Dimension expertise in the required areas. It will reduce the regular maintenance costs.

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('quality')
									h3.solution-elem__title High-Quality

								.solution-elem__body
									p With our experience we will decrease the number of unexpected issues in your business production processes, caused by SimCorp Dimension upgrades, patches and solutions implementations

						.solution-dropbox
							.dropbox-body.js-dropBoxBody(style="display: none")
								ul.ul
									li Investigate SimCorp Dimension running processes and setups, used in your business operations
									li Map these processes to the expected system modification scope: patching / upgrade
									li Prepare the optimal test plan in order to avoid the unexpected issues, caused by planned modifications
									li Execute the test, provide you with the results and final conclusion

						.solution-bottom
							.solution-buttons__flex
								a(href="javascript:;").button.style_border.js-toggleDropBox
									span.button__text Details
										.button__icon
											+icon('arrow-top')

								a(class="button js-modalLink" href="javascript:;" data-mfp-src="#modalForm")
									span.button__text Order

	include _parts/_modal-form