extends _layouts/_base

append vars
	-
		var title = 'Solution-project-planning'

block content
	.page-bg
	.page
		section.page-banner
			.container
				h1.page-banner__title.size_small Solutions &amp; Services
				.page-banner__image.style_solution
					img(src="images/solution-banner.png" alt="")
		section.section-solution
			.container
				.solution-tabs
					a(href="#").solution-tab.is-active enable <br>growth
					a(href="get-expertise.html").solution-tab get expertise
					a(href="reduce-costs.html").solution-tab reduce costs
					a(href="meet-expectations.html").solution-tab meet expectations

				.solution-buttons
					.solution-slider.js-solutionSlider
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									a(href="solution.html").solution-button New SimCorp Dimension task/project
									a(href="solution-onlinesimcorp.html").solution-button Online SimCorp Dimension<br> Support & Development
									a(href="solution-project-planning.html").solution-button.is-active Project planning
									a(href="solution-validate.html").solution-button Validate/Audit concept:

								.swiper-slide
									a(href="#").solution-button System performance
									a(href="#").solution-button LDI hedging engine: KRD, DV01
									a(href="#").solution-button Currency (FX) risk hedging engine
									a(href="#").solution-button Index Tracking &amp; Portfolio Rebalancing engine

								.swiper-slide
									a(href="#").solution-button Cash flow forecast engine: matching, CDI
									a(href="#").solution-button Bond Forward (OTC) daily pricing engine
									a(href="#").solution-button Automatic data management

						.reviews-slider__nav
							.swiper-prev
								svg(width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M1 4.75H20.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M1 4.75L4 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M1 4.75L4 8.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

							.swiper-next
								svg(width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M21 4.75H1.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M21 4.75L18 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M21 4.75L18 8.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

		section.section-solution
			.container
				.solution-about
					h2.solution-title Index Tracking & Portfolio Rebalancing engine

					.solution-text
						p You develop & implement SimCorp Dimension projects, however they are delivered late or experience the tremendous amount of unexpected issues. Your customers not sure anymore if they can rely on the confirmed projects delivery deadlines. In such case it’s the right time to revise your planning methodology.

						p With our new Project planning service we will ensure that projects and tasks follow the reliable and detailed planning process, which would signalize the unexpected shifts in planned delivery on time.

						p A solid planning methodology ensures that the client service reputation and budgets are controlled well during the entire development process.

					.solution-container
						.solution-list
							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('fast')
									h3.solution-elem__title Costs-control

								.solution-elem__body
									p With the appropriate planning approach we will ensure that you are aware of realistic expected project development costs

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('scaleble')
									h3.solution-elem__title Delivery on time

								.solution-elem__body
									p The high quality planning let you not only be informed regarding the status of development regularly, but also would provide the realistic delivery date

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('quality')
									h3.solution-elem__title High-Quality

								.solution-elem__body
									p A correct planning ensures that your business meets the expectations regarding commitments to your customers

						.solution-dropbox
							.dropbox-body.js-dropBoxBody(style="display: none")
								ul.ul
									li Provide the analysis of setups and project business goals
									li Assist regarding the reliable requirement specification construction
									li Prepare the detailed development plan
									li Model the project expected development time, map it to development capacity
									li Communicate the project delivery schedule to project management team

						.solution-bottom
							.solution-buttons__flex
								a(href="javascript:;").button.style_border.js-toggleDropBox
									span.button__text Details
										.button__icon
											+icon('arrow-top')

								a(class="button js-modalLink" href="javascript:;" data-mfp-src="#modalForm")
									span.button__text Order

	include _parts/_modal-form