extends _layouts/_base

append vars
	-
		var title = 'Solution-validate'

block content
	.page-bg
	.page
		section.page-banner
			.container
				h1.page-banner__title.size_small Solutions &amp; Services
				.page-banner__image.style_solution
					img(src="images/solution-banner.png" alt="")
		section.section-solution
			.container
				.solution-tabs
					a(href="#").solution-tab.is-active enable <br>growth
					a(href="get-expertise.html").solution-tab get expertise
					a(href="reduce-costs.html").solution-tab reduce costs
					a(href="meet-expectations.html").solution-tab meet expectations

				.solution-buttons
					.solution-slider.js-solutionSlider
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									a(href="solution.html").solution-button New SimCorp Dimension task/project
									a(href="solution-onlinesimcorp.html").solution-button Online SimCorp Dimension<br> Support & Development
									a(href="solution-project-planning.html").solution-button Project planning
									a(href="solution-validate.html").solution-button.is-active Validate/Audit concept:

								.swiper-slide
									a(href="#").solution-button System performance
									a(href="#").solution-button LDI hedging engine: KRD, DV01
									a(href="#").solution-button Currency (FX) risk hedging engine
									a(href="#").solution-button Index Tracking &amp; Portfolio Rebalancing engine

								.swiper-slide
									a(href="#").solution-button Cash flow forecast engine: matching, CDI
									a(href="#").solution-button Bond Forward (OTC) daily pricing engine
									a(href="#").solution-button Automatic data management

						.reviews-slider__nav
							.swiper-prev
								svg(width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M1 4.75H20.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M1 4.75L4 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M1 4.75L4 8.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

							.swiper-next
								svg(width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M21 4.75H1.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M21 4.75L18 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M21 4.75L18 8.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

		section.section-solution
			.container
				.solution-about
					h2.solution-title Index Tracking & Portfolio Rebalancing engine

					.solution-text
						p You have a brilliant team of own experts, who come up with a new concept for innovation or a project to be developed in SimCorp Dimension. However, you would like to be sure that the proposed concept/solution is the optimal one. Based on our years of experience in SimCorp Dimension system, we are ready to provide you with our new Validate the concept/Audit service.

						p We will ensure that all details and capabilities of Dimension are taken into account during concept definition, and will assist your specialists with our strong expertise in order to make the right decision.

					.solution-container
						.solution-list
							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('fast')
									h3.solution-elem__title Reliability

								.solution-elem__body
									p The independent opinion is a strong advantage that contributes into making the optimal and reliable business decisions

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('scaleble')
									h3.solution-elem__title Beneficial

								.solution-elem__body
									p We will ensure that the needed knowledge is shared with your specialists regarding further maintenance and evolution of the chosen concept

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('quality')
									h3.solution-elem__title High-Quality

								.solution-elem__body
									p Our deep expertise in SimCorp Dimension functionality will help you to avoid the unexpected issues in the chosen concep

						.solution-dropbox
							.dropbox-body.js-dropBoxBody(style="display: none")
								ul.ul
									li Analyze the business goal and available requirement specification
									li Based on SimCorp Dimension capabilities and functionality, we define the possible solutions with pros and cons
									li Compare the possible solutions with the client solution in order to identify the strong and weak sides
									li Make a choice regarding the best decision

						.solution-bottom
							.solution-buttons__flex
								a(href="javascript:;").button.style_border.js-toggleDropBox
									span.button__text Details
										.button__icon
											+icon('arrow-top')

								a(class="button js-modalLink" href="javascript:;" data-mfp-src="#modalForm")
									span.button__text Order

	include _parts/_modal-form