extends _layouts/_base

append vars
	-
		var title = 'Solution'

block content
	.page-bg
	.page
		section.page-banner
			.container
				h1.page-banner__title.size_small Solutions &amp; Services
				.page-banner__image.style_solution
					img(src="images/solution-banner.png" alt="")
		section.section-solution
			.container
				.solution-tabs
					a(href="#").solution-tab.is-active enable <br>growth
					a(href="get-expertise.html").solution-tab get expertise
					a(href="reduce-costs.html").solution-tab reduce costs
					a(href="meet-expectations.html").solution-tab meet expectations

				.solution-buttons
					.solution-slider.js-solutionSlider
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									a(href="#").solution-button.is-active New SimCorp Dimension task/project
									a(href="solution-onlinesimcorp.html").solution-button Online SimCorp Dimension<br> Support & Development
									a(href="solution-project-planning.html").solution-button Project planning
									a(href="solution-validate.html").solution-button Validate/Audit concept:

								.swiper-slide
									a(href="#").solution-button System performance
									a(href="#").solution-button LDI hedging engine: KRD, DV01
									a(href="#").solution-button Currency (FX) risk hedging engine
									a(href="#").solution-button Index Tracking &amp; Portfolio Rebalancing engine

								.swiper-slide
									a(href="#").solution-button Cash flow forecast engine: matching, CDI
									a(href="#").solution-button Bond Forward (OTC) daily pricing engine
									a(href="#").solution-button Automatic data management

						.reviews-slider__nav
							.swiper-prev
								svg(width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M1 4.75H20.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M1 4.75L4 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M1 4.75L4 8.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

							.swiper-next
								svg(width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M21 4.75H1.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M21 4.75L18 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M21 4.75L18 8.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")


		section.section-solution
			.container
				.solution-about
					h2.solution-title Index Tracking & Portfolio Rebalancing engine

					.solution-text
						p You perform the index tracking & portfolio rebalancing of clients’ portfolios and funds regularly outside of SimCorp Dimension. Every time it’s a challenge to include all cash inflows and dividend reinvestments into calculations, as well as apply all replacements rules and spreads for active bets. Besides, you have to prepare the rebalancing trades before stock exchange opening. It keeps your specialists busy on a regular basis.

						p With our new Index Tracking & Portfolio Rebalancing automatic engine you will benefit from the automatically calculated Buy/Sell nominals results (based on the cash inflows and dividend reinvestments + rebalancing rules) for all your portfolios and funds on time. This solution uses the “high speed” optimized architecture, and will provide you with the rebalancing trade execution results as soon as possible (based on your SimCorp Dimension environment configuration).

					.solution-container
						.solution-list
							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('fast')
									h3.solution-elem__title Fast

								.solution-elem__body
									p Uses the load balancing/parallel execution architecture. Doesn’t require the manual interference: fully automated.

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('scaleble')
									h3.solution-elem__title Scalable

								.solution-elem__body
									p Can be rolled out to as many portfolios, indexes & benchmarks as needed

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('quality')
									h3.solution-elem__title High-Quality

								.solution-elem__body
									p Reduces the operational risk of manual rebalancing process

						.solution-dropbox
							.dropbox-body.js-dropBoxBody(style="display: none")
								ul.ul
									li Execute own investment strategy or follow the market index in a fast and efficient way
									li Rebalance a portfolio or fund as often as requested
									li Includes the cash in-flows information into rebalancing process on time (e.g. before stock exchange opening)
									li Supports the dividends’ re-investment
									li Benefit from our automatic solution without need of manual interference
									li The integrated “quality control” component monitors and catches the missing holdings, prices and fx rates for reliable and accurate rebalancing results

						.solution-bottom
							.solution-buttons__flex
								a(href="javascript:;").button.style_border.js-toggleDropBox
									span.button__text Details
										.button__icon
											+icon('arrow-top')

								a(class="button js-modalLink" href="javascript:;" data-mfp-src="#modalForm")
									span.button__text Order

	include _parts/_modal-form