extends _layouts/_base

append vars
	-
		var title = 'System Performance'

block content
	.page-bg
	.page
		section.page-banner
			.container
				h1.page-banner__title.size_small Solutions &amp; Services
				.page-banner__image.style_solution
					img(src="images/solution-banner.png" alt="")
		section.section-solution
			.container
				.solution-tabs
					a(href="#").solution-tab.is-active enable <br>growth
					a(href="get-expertise.html").solution-tab get expertise
					a(href="reduce-costs.html").solution-tab reduce costs
					a(href="meet-expectations.html").solution-tab meet expectations

				.solution-buttons
					a(href="#").solution-button.is-active New SimCorp Dimension Task/project
					a(href="solution-onlinesimcorp.html").solution-button Online SimCorp Dimension<br> Support & Development
					a(href="solution-project-planning.html").solution-button Project planning
					a(href="solution-validate.html").solution-button Validate/Audit concept:

		section.section-solution
			.container
				.solution-about
					h2.solution-title Index Tracking & Portfolio Rebalancing engine

					.solution-text
						p Over the years, clients construct and automate many business processes, executed within SimCorp Dimension system. However, with a passage of time a speed of execution becomes more valuable: with increase of data transfer speed the clients get an access to information faster, and consequently have to react and take the right decisions often in the time pressure circumstances. As the result, SimCorp Dimension system performance is expected to be regularly enhanced and tuned in order to succeed with such business challenges.

					.solution-container
						.solution-list
							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('fast')
									h3.solution-elem__title Speed

								.solution-elem__body
									p Our SimCorp Dimension expertise will provide you with system performance optimization, that will let your business operations process as fast as possible.

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('scaleble')
									h3.solution-elem__title Scalability

								.solution-elem__body
									p Each solution, constructed in SimCorp Dimension, gets exposed to the scalability challenges once the number of customers grows. Our team will analyze the architecture, used in your SimCorp Dimension setups, and will propose the optimal one for best scalability.

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('quality')
									h3.solution-elem__title Compliance

								.solution-elem__body
									p High system performance will let your business deliver products and reports on time, meeting the clients’ expectations professionally.

						.solution-dropbox
							.dropbox-body.js-dropBoxBody(style="display: none")
								ul.ul
									li Investigate the regular SimCorp Dimension processes and setups, used in your company
									li Create a map of system performance issues and vulnerabilities
									li Design a set of advices and solutions regarding system execution speed acceleration
									li Measure the results before/after acceleration, provide a summary

						.solution-bottom
							.solution-buttons__flex
								a(href="javascript:;").button.style_border.js-toggleDropBox
									span.button__text Details
										.button__icon
											+icon('arrow-top')

								a(class="button js-modalLink" href="javascript:;" data-mfp-src="#modalForm")
									span.button__text Order

	include _parts/_modal-form