extends _layouts/_base

append vars
	-
		var title = 'UFR Yield'

block content
	.page-bg
	.page
		section.page-banner
			.container
				h1.page-banner__title.size_small Solutions &amp; Services
				.page-banner__image.style_solution
					img(src="images/solution-banner.png" alt="")
		section.section-solution
			.container
				.solution-tabs
					a(href="#").solution-tab.is-active enable <br>growth
					a(href="get-expertise.html").solution-tab get expertise
					a(href="reduce-costs.html").solution-tab reduce costs
					a(href="meet-expectations.html").solution-tab meet expectations

				.solution-buttons
					a(href="#").solution-button New SimCorp Dimension Task/project
					a(href="solution-onlinesimcorp.html").solution-button Online SimCorp Dimension<br> Support & Development
					a(href="solution-project-planning.html").solution-button Project planning
					a(href="solution-validate.html").solution-button Validate/Audit concept:

		section.section-solution
			.container
				.solution-about
					h2.solution-title Index Tracking & Portfolio Rebalancing engine

					.solution-text
						p You use the DNB monthly Ultimate Forward Rates (UFR) to valuate the clients liabilities portfolios according to market regulator requirements, whereas the daily UFR curve you calculate manually in Excel or Bloomberg. In the same time, you experience difficulties in using such imported UFR curve for LDI hedge strategies.

						p We have a new solution for you: the UFR module from SimCorp Dimension system can be calibrated in order to obtain the exact UFR rates, compliant with DNB requirements.

						p Ensure your in-house UFR curve is compliant with regulation requirements, and integrate it into own LDI hedge strategy & risk measurement.

					.solution-container
						.solution-list
							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('fast')
									h3.solution-elem__title Independent

								.solution-elem__body
									p In-house UFR curve can be used for own stress scenarios and LDI hedge strategies constructions anytime

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('scaleble')
									h3.solution-elem__title Innovative

								.solution-elem__body
									p The integrated component will provide you with the final UFR zero coupon rates on a regular basis

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('quality')
									h3.solution-elem__title High-Quality

								.solution-elem__body
									p Corresponds to DNB regulation requirements

						.solution-dropbox
							.dropbox-body.js-dropBoxBody(style="display: none")
								ul.ul
									li We analyze your UFR SimCorp Dimension module settings, and reconcile them with DNB requirements
									li Investigate and solve the issues in UFR setup
									li Integrate UFR into LDI hedge strategy and interest rate risk stress test scenarios
									li The extraction component will provide/extract the final UFR zero coupon rates on a regular basis
									li A possibility to integrate the “quality monitoring” component, which would reconcile the curve with DNB/Bloomberg automatically (and inform the user in case any unexpected deviation occurs)

						.solution-bottom
							.solution-buttons__flex
								a(href="javascript:;").button.style_border.js-toggleDropBox
									span.button__text Details
										.button__icon
											+icon('arrow-top')

								a(class="button js-modalLink" href="javascript:;" data-mfp-src="#modalForm")
									span.button__text Order

	include _parts/_modal-form