footer.footer
	.container
		.footer-top
			a(href="main.html").footer-logo
				picture
					source(media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/logo-2@x2.png")
					img(src="images/logo-2.png")

			.footer-nav
				.footer-nav__elem: a(href="about.html") About
				.footer-nav__elem: a(href="solution.html") Solutions & Services
				.footer-nav__elem: a(href="news.html") News
				.footer-nav__elem: a(href="contacts.html") Contact

			.footer-info__list
				.footer-info
					.footer-info__icon
						+icon('pin')
					.footer-info__title Keurenplein 41, 1069CD Amsterdam, The&nbsp;Netherlands

				.footer-info
					.footer-info__icon
						+icon('phone')
					.footer-info__title +31 6 389 003 01

				.footer-info
					.footer-info__icon
						+icon('info')
					.footer-info__title info@unitso.com

				.footer-info
					.footer-info__icon
						+icon('clock')
					.footer-info__title Mon to Fri - 09:00 to 18:00

		.footer-bottom
			.footer-text
				p Chamber of Commerce (KvK) no.: 61629642 <span>VAT number (BTW-id): NL002525228B24</span>

			a(href='https://www.linkedin.com/in/sergii-oliinyk-simcorp-dimension-expertise/' target="_blank").footer-icon
				picture
					source(media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/in@x2.png")
					img(src="images/in.png")

		.footer-copyright © 2014 Unitso. All rights reserved.
