header.header
	.container
		.header-content
			a(href="main.html").header-logo
				+picture('images/logo.png', 'images/logo@x2.png', 'images/logo@x2.png')

			.header-nav
				.header-nav__elem: a(href="about.html") About
				.header-nav__elem: a(href="solution.html") Solutions & Services
				.header-nav__elem: a(href="news.html") News
				.header-nav__elem: a(href="contacts.html") Contact

			.header-burger
				.burger.js-openMenu
					i
					i
					i

	.menu.js-menu
		.menu-nav.js-menuContent
			.menu-nav__elem
				a(href="main.html")
					+picture('images/logo.png', 'images/logo@x2.png', 'images/logo@x2.png')
			.menu-nav__elem
				a(href="about.html") About

			.menu-nav__elem
				a(href="solution.html") Solutions & Services

			.menu-nav__elem.is-active
				a(href="news.html") News

			.menu-nav__elem
				a(href="contacts.html") Contact
