#modalForm.modal.modal-form.mfp-hide
	.modal-box
		a(href="javascript:;").modal-close.js-modalClose
			+icon('close')

		.modal-head
			h3.modal-title Make an order

		form.modal-form.js-validate
			.modal-form__flex
				.modal-form__left
					.form-field
						input(type="text" name="name" placeholder="Your name..." required).input

					.form-field
						input(type="email" name="email" placeholder="Your e-mail..." required).input

					.form-field
						input(type="text" name="phone" placeholder="Your phone number..." required).input

				.modal-form__right
					.form-field
						textarea.textarea(placeholder="Your message..." name="message" required)

			.form-field
				select.form-select.js-select2Single(data-placeholder="Choose product..." name="product" required)
					option
					option(value="0") New SimCorp Dimension task/project
					option(value="1") Online SimCorp Dimension support &amp; development
					option(value="2") Project planning
					option(value="3") Validate/Audit the concept
					option(value="4") Professional services
					option(value="5") System performance
					option(value="6") LDI hedging engine: KRD, DV01
					option(value="7") Currency (FX) risk hedging engine
					option(value="8") Index Tracking &amp; Portfolio Rebalancing engine
					option(value="9") Cash flow forecast engine: matching, CDI
					option(value="10") Duration calculation engine: DV01, CSD, OAD, MD, KRD
					option(value="11") IRS swap daily pricing engine
					option(value="12") Bond Forward (OTC) daily pricing engine
					option(value="13") UFR Yield Curve expertise
					option(value="14") GIPS reporting engine
					option(value="15") Swaption (OTC) daily pricing engine
					option(value="16") Automatic data management
					option(value="17") Other

			.modal-form__submit
				button.button(type="submit")
					span.button__text Send
