#modalCard.modal.modal-text.mfp-hide
	.modal-box
		a(href="javascript:;").modal-close.js-modalClose
			+icon('close')

		.modal-card
		.modal-card__info
			.modal-card__info-image.js-modalCardImage

			.modal-card__info-content.js-modalCardDescription