mixin picture(x1, x2, mob)
	picture
		source(media="(max-width: 767px)" srcset=mob)
		source(media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset=x2)
		img(src=x1)
