.video-item
	position: relative
	padding-bottom: 56%

	// @media #{$tablet}
	// 	padding-bottom: 70%

	@media #{$mobile}
		padding-bottom: 65%
		margin-left: -20px
		margin-right: -20px

	iframe
		+abscenter
		width: 100%
		height: 100%

// .about-video
// 	@media (min-width: 1440px)
// 		.video-item
// 			margin-left: -120px
// 			margin-right: -120px

// 	@media #{$mobile-above}
// 		@media #{$tablet}
// 			.video-item
// 				margin-left: -40px
// 				margin-right: -40px

// 	@media #{$mobile}
// 		.video-item
// 			margin-left: -20px
// 			margin-right: -20px

// 	&:not(:last-child)
// 		margin-bottom: 100px

// 		@media #{$mobile}
// 			margin-bottom: 90px

.about-article__flex
	@media #{$mobile-above}
		display: flex

.about-article__image
	width: 350px
	text-align: center

	@media #{$tablet}
		width: 246px

	@media #{$mobile}
		margin-left: auto
		margin-right: auto

		&:not(:last-child)
			margin-bottom: 50px

	img
		max-width: 100%
		margin-bottom: 45px
		max-height: 100%
		border-radius: 50%

		@media #{$tablet}
			margin-bottom: 68px

	@media #{$mobile-above}
		& + .about-article__text
			width: calc(100% - 392px)
			margin-left: auto

			@media #{$tablet}
				width: calc(100% - 275px)

	p
		font-weight: 500
		font-size: 21px
		line-height: 100.2%
		color: #242424

		@media #{$tablet}
			font-size: 13px
			line-height: 100.2%

.about-article__title
	font-weight: bold
	font-size: 34px
	line-height: 39px
	letter-spacing: 0.02em

	@media #{$tablet}
		font-size: 30px
		line-height: 34px

	&:not(:last-child)
		margin-bottom: 15px

		@media #{$tablet}
			margin-bottom: 7px

.about-article__subtitle
	font-weight: 500
	font-size: 27px
	line-height: 27px
	color: #242424
	padding: 0 20px

	@media #{$tablet}
		font-size: 17px
		line-height: 150.2%

	&:not(:last-child)
		margin-bottom: 10px

		@media #{$tablet}
			margin-bottom: 17px

.about-article__text
	font-size: 18px
	line-height: 160%

	@media #{$tablet}
		line-height: 140%

	p
		&:not(:last-child)
			margin-bottom: 30px

			@media #{$tablet}
				margin-bottom: 20px