.section-advantages
	.page-title
		text-align: center
		color: #171717

		&:not(:last-child)
			margin-bottom: 93px

			@media #{$tablet-above}
				@media (max-height: 850px)
					margin-bottom: 70px

			@media #{$tablet}
				margin-bottom: 50px

			@media #{$mobile}
				margin-bottom: 30px

		@media #{$tablet}
			font-size: 37px
			line-height: 43px

.advantages-top
	font-weight: 500
	font-size: 25px
	line-height: normal

	@media #{$tablet}
		font-size: 20px

	&:not(:last-child)
		margin-bottom: 60px

		@media #{$mobile}
			margin-bottom: 40px

.advantages-grid
	flex-wrap: wrap
	margin-bottom: -35px

	@media #{$tablet}
		margin-bottom: -30px

	@media #{$mobile}
		margin-bottom: 0

.advantages-card,
.advantages-grid
	@media #{$mobile-above}
		display: flex

.advantages-col
	@media #{$mobile-above}
		width: 33.333333%
		margin-bottom: 35px

		@media #{$tablet}
			width: 50%
			margin-bottom: 30px

			&:nth-child(2n - 1)
				padding-right: 24px

			&:nth-child(2n)
				padding-right: 5px

		@media #{$tablet-above}
			&:not(:nth-child(3n))
				padding-right: 80px

		&:last-child
			margin-left: auto
			margin-right: auto

	@media #{$mobile}
		&:not(:last-child)
			margin-bottom: 37px

.advantages-card
	@media #{$mobile}
		display: flex

.advantages-card__text
	font-size: 18px
	line-height:  160%

	@media #{$tablet}
		line-height: 140%	

	p
		&:not(:last-child)
			margin-bottom: 15px

.advantages-card__icon
	width: 70px

	@media #{$tablet}
		width: 60px

	svg
		width: 42px
		height: 42px

	& + .advantages-card__text
		width: calc(100% - 70px)

		@media #{$tablet}
			width: calc(100% - 60px)