.article
	h1,
	h2,
	h3,
	h4,
	h5,
	h6
		font-weight: bold
		margin-top: 0
		line-height: normal

		&:not(:last-child)
			margin-bottom: 22px

			@media #{$mobile}
				margin-bottom: 12px

	h1
		font-size: 46px

		@media #{$mobile}
			font-size: 36px

	h2
		font-size: 40px

		@media #{$mobile}
			font-size: 30px

	h3
		font-size: 34px

		@media #{$mobile}
			font-size: 26px

	h4
		font-size: 28px

		@media #{$mobile}
			font-size: 22px

	h5
		font-size: 22px

		@media #{$mobile}
			font-size: 18px


	h6
		font-size: 18px

		@media #{$mobile}
			font-size: 12px

	p
		font-size: 18px
		line-height: normal

		@media #{$mobile}
			font-size: 16px

		&:not(:last-child)
			margin-bottom: 20px

			@media #{$mobile}
				margin-bottom: 15px

	img
		vertical-align: bottom
		margin-bottom: 30px
		max-width: 100%

		@media #{$mobile}
			margin-bottom: 20px

	a
		border-bottom: 1px solid #000

		@media #{$tablet-above}
			transition: border-color .2s ease-in-out

			&:hover
				border-color: transparent

	ul
		padding-left: 20px

		@media #{$mobile}
			li
				font-size: 16px

	.video-wrap
		&:not(:last-child)
			margin-bottom: 40px

.section-article
	.video-wrap
		max-width: 700px

	@media #{$tablet-above}
		img
			max-height: 400px

		@media (max-height: 810px)
			img
				max-height: 300px

		@media (max-height: 780px)
			img
				max-height: 250px

		.video-wrap
			@media (max-height: 810px)
				max-width: 600px

			@media (max-height: 750px)
				max-width: 500px

			@media (max-height: 700px)
				max-width: 400px

	@media #{$tablet}
		img
			max-height: 300px

		.video-wrap
			max-width: 500px

	@media #{$mobile}
		@media (orientation: landscape)
			max-width: 400px
			margin-left: auto
			margin-right: auto
