.contacts-map
	position: relative
	height: 554px

	@media (max-width: 1023px)
		height: 320px

	@media #{$mobile}
		height: auto
		padding-bottom: 55%
		margin-left: -20px
		margin-right: -20px

	&:not(:last-child)
		margin-bottom: 72px

		@media #{$mobile}
			margin-bottom: 60px

	iframe
		+abscenter
		width: 100%
		height: 100%

.contacts-flex,
.contacts-info,
.contacts-info__icon,
.contacts-form__flex
	display: flex

.contacts-info
	align-items: center
	
	&:not(:last-child)
		margin-bottom: 23px

		@media #{$mobile}
			margin-bottom: 25px

	.icon-pin,
	.icon-phone
		width: 24px
		height: 24px
		fill: none
		stroke: #000
		stroke-width: 2px

	.icon-info
		width: 20px
		height: 15px
		fill: none
		stroke: #000
		stroke-width: 2px

	.icon-clock
		width: 20px
		height: 20px

.contacts-flex
	@media #{$tablet}
		display: block

	&:not(:last-child)
		margin-bottom: 45px

		@media #{$tablet}
			margin-bottom: 70px

		@media #{$mobile}
			margin-bottom: 60px

.contacts-form__flex
	@media #{$mobile}
		display: block

	&:not(:last-child)
		margin-bottom: 70px

		@media #{$tablet}
			margin-bottom: 60px

		@media #{$mobile}
			margin-bottom: 50px

.contacts-info__icon
	width: 36px

.contacts-info__title
	font-size: 18px
	line-height: 100.2%
	width: calc(100% - 36px)

	@media #{$mobile}
		font-size: 16px

.contacts-container
	max-width: 833px
	width: 100%
	margin-left: auto
	margin-right: auto

	@media #{$tablet}
		max-width: 510px

	&:not(:last-child)
		margin-bottom: 70px

		@media #{$tablet}
			margin-bottom: 120px

		@media #{$mobile}
			margin-bottom: 75px

.contacts-list
	@media #{$tablet-above}
		width: 410px

		& + .contacts-text
			width: 325px
			margin-left: auto

	@media #{$tablet}
		&:not(:last-child)
			margin-bottom: 60px

	@media #{$mobile}
		&:not(:last-child)
			margin-bottom: 50px

.contacts-text
	font-size: 18px
	line-height: 100.2%

	@media #{$mobile}
		font-size: 16px

	p
		&:not(:last-child)
			margin-bottom: 15px

.contacts-logo__wrap
	img
		vertical-align: bottom
		width: 128px

.contacts-logo__wrap
	&:not(:last-child)
		margin-bottom: 70px

.contacts-form
	max-width: 794px
	width: 100%
	margin-left: auto
	margin-right: auto

	@media #{$tablet}
		max-width: 100%

	@media #{$mobile}
		.form-field
			&:not(:last-child)
				margin-bottom: 16px

.contacts-form__left
	@media #{$mobile-above}
		width: 387px

		@media #{$tablet}
			width: 334px

		& + .contacts-form__right
			width: 346px
			margin-left: auto

			@media #{$tablet}
				width: calc(100% - 354px)

	@media #{$mobile}
		&:not(:last-child)
			margin-bottom: 16px

.contacts-form__submit,
.contacts-logo__wrap
	text-align: center

.contacts-form__submit
	.button
		min-width: 162px