.page
	padding-bottom: 110px

	@media #{$tablet-above}
		@media (max-height: 840px)
			padding-bottom: 70px

	@media #{$tablet}
		padding-bottom: 90px

	@media #{$mobile}
		padding-bottom: 70px

.section
	&:not(:last-child)
		margin-bottom: 132px

		@media #{$tablet-above}
			@media (max-height: 840px)
				margin-bottom: 62px

		@media #{$tablet}
			margin-bottom: 90px

		@media #{$mobile}
			margin-bottom: 70px

.page-title
	font-size: 37px
	line-height: 43px
	color: #333333
	font-family: "CaslonGraD", sans-serif

	@media #{$tablet}
		font-size: 30px
		line-height: 35px

	@media #{$mobile}
		font-size: 21px
		line-height: 25px

.page-subtitle
	font-weight: 500
	font-size: 27px
	line-height: 31px
	text-align: center

	@media #{$tablet}
		font-size: 22px
		line-height: 25px

	@media #{$mobile}
		font-size: 16px
		line-height: 160%

	&:not(:last-child)
		margin-bottom: 90px

		@media #{$tablet-above}
			@media (max-height: 850px)
				margin-bottom: 70px

		@media #{$mobile}
			margin-bottom: 50px

.page-back
	&:not(:last-child)
		margin-bottom: 50px

		@media #{$mobile}
			margin-bottom: 25px

.main-about__title
	font-size: 34px
	line-height: 41px

	@media #{$mobile}
		font-size: 33px
		line-height: 160%

	&:not(:last-child)
		margin-bottom: 42px

.main-about
	text-align: center
	font-family: "Myriad Pro", sans-serif
	color: #171717

	&:not(:last-child)
		margin-bottom: 110px

		@media #{$tablet}
			margin-bottom: 100px

.main-about__logo
	img
		width: 155px

	&:not(:last-child)
		margin-bottom: 96px

		@media #{$mobile}
			margin-bottom: 40px

.main-about__text
	font-size: 32px
	line-height: 38px

	@media #{$mobile}
		font-size: 30px
		line-height: 36px

.page-banner__title
	font-size: 100px
	line-height: 134px
	color: rgba(0, 0, 0, 0.15)
	margin-top: 0
	margin-bottom: 0
	font-family: "CaslonGraD", sans-serif

	&.size_small
		@media #{$mobile-above}
			font-size: 50px
			line-height: 64px

			@media (max-width: 1023px)
				padding-right: 400px

		@media #{$mobile}
			font-size: 40px
			line-height: 50px

			@media (orientation: landscape)
				padding-right: 300px

	// &.size_big
	// 	font-size: 140px

	@media #{$tablet}
		font-size: 60px
		line-height: 117px

		// &.size_big
		// 	font-size: 100px
		// 	line-height: 137px

	@media #{$mobile}
		font-size: 60px
		line-height: 70px

		&.mob_margin_top
			margin-top: -32px

		// &.size_big
		// 	font-size: 60px
		// 	line-height: 70px

		& + .page-banner__text
			margin-top: 15px

.page-banner
	&:not(:last-child)
		margin-bottom: 60px

		@media #{$mobile}
			margin-bottom: 20px

	&.margin_small
		&:not(:last-child)
			margin-bottom: 70px

			@media #{$tablet}
				margin-bottom: 60px

			@media #{$mobile}
				margin-bottom: 50px

.page-banner__text
	font-weight: 500
	font-size: 29px
	line-height: 100.2%

	@media #{$tablet}
		font-size: 19px

	@media #{$mobile}
		font-size: 13px
		line-height: 160%
		padding-right: 60px

.page-banner__image
	position: relative

	@media #{$mobile-above}
		// width: 932px
		width: 620px
		margin-left: auto
		margin-top: -190px
		text-align: right

		@media #{$tablet}
			margin-top: -155px
			margin-right: -30px

	@media #{$tablet-above}
		margin-right: 78px

		@media (max-height: 740px)
			width: 578px

		@media (max-height: 700px)
			width: 510px

		@media (max-height: 690px)
			width: 470px

	@media #{$mobile}
		margin-left: -20px
		margin-right: -20px
		text-align: center

		@media (orientation: landscape)
			max-width: 290px
			margin-right: 0
			margin-left: auto
			margin-top: -110px
			margin-bottom: -15px

	img
		max-width: 70%
		vertical-align: bottom

	&.style_solution
		@media #{$mobile-above}
			margin-top: -150px
			margin-bottom: -45px

			@media #{$tablet}
				width: 480px
				margin-top: -120px
				margin-right: 0

			@media (max-width: 1023px)
				width: 420px
				margin-top: -170px

		img
			max-width: 100%

			@media #{$tablet-above}
				margin-right: -60px

	&.image_compas
		@media #{$tablet-above}
			max-width: 615px
			width: 100%

			img
				margin-right: -50px
				margin-top: -22px
				margin-bottom: -22px

			@media (max-height: 700px)
				max-width: 540px

				img
					margin-right: -37px

			@media (max-height: 680px)
				max-width: 465px

				img
					margin-top: -18px

		@media #{$mobile-above}
			@media #{$tablet}
				max-width: 560px
				margin-top: -190px

				img
					margin-top: -18px
					margin-right: -15px
					margin-bottom: -27px

				@media (orientation: landscape)
					max-width: 710px
					width: 710px

					img
						margin-bottom: -40px
						margin-right: -25px
						margin-top: -25px

		@media #{$mobile}
			img
				position: relative
				left: -5px
				max-width: 82%
				margin-top: -10px

			@media (orientation: landscape)
				img
					left: 9px
					margin-bottom: -24px

	&.image_bird
		max-width: 440px

		@media #{$tablet-above}
			margin-top: -190px
			margin-right: 94px

			@media (max-height: 700px)
				max-width: 385px

			@media (max-height: 680px)
				max-width: 330px

		@media #{$mobile-above}
			@media #{$tablet}
				// max-width: 410px
				margin-top: -190px
				margin-right: 0

				@media (orientation: landscape)
					max-width: 510px

		@media #{$mobile}
			margin-left: auto
			margin-right: auto
			margin-bottom: 10px
			max-width: 300px

			@media (orientation: landscape)
				margin-top: -90px
				margin-right: 0
				max-width: 250px

.page-pagination
	display: flex
	justify-content: center
	align-items: center
