.button
	border: none
	outline: none
	text-decoration: none
	user-select: none
	transition: background-color .2s ease-in-out, color .2s ease-in-out
	border-radius: 3px
	padding-left: 16px
	padding-right: 16px
	height: 56px
	background-image: linear-gradient(180deg, #B1ABA3 0%, #6F665D 100%)
	font-weight: bold
	font-size: 23px
	line-height: 106.7%
	color: #fff
	cursor: pointer

	@media #{$mobile-above}
		min-width: 184px

	@media #{$tablet-above}
		&:not(.style_border)
			transition: opacity .2s ease-in-out

			&:hover
				opacity: .8

	&__text
		width: 100%
		height: 100%
		display: flex
		justify-content: center
		align-items: center
		font-weight: bold

	&__icon
		margin-left: 10px
		display: flex
		align-items: center

		.icon-arrow-top
			fill: none
			width: 20px
			height: 13px
			transform: rotate(-180deg)
			transition: transform .2s linear

	&.style_border
		color: #000
		border: 2px solid #727171
		background-color: #fff
		background-image: none

		@media #{$tablet-above}
			&:hover
				background-color: #727171
				color: #fff

	&[disabled]
		background: #727171
		border-radius: 3px
		color: #fff
		background-image: none
		pointer-events: none

	&.is-active
		.icon-arrow-top
			transform: rotate(0)

.back-wrap
	display: inline-block

	&:not(:last-child)
		margin-bottom: 30px

.back,
.back-icon
	display: flex
	align-items: center

.back-icon
	overflow: hidden

	& + .back-text
		margin-left: 11px

	svg
		transform: translateX(5px)
		transition: transform .2s ease-in-out
		width: 25px
		height: 18px
		margin-top: -1px

.back
	font-weight: 700
	font-size: 18px

	@media #{$tablet-above}
		transition: opacity .2s ease-in-out

		&:hover
			opacity: .8

			svg
				transform: translateX(0)

a.button
	display: inline-block

input::-webkit-contacts-auto-fill-button
	visibility: hidden
	pointer-events: none
	position: absolute
	right: 0

input::-ms-clear
	width: 0
	height: 0

::placeholder
	color: #505050
	opacity: 1 !important

.swiper-wrapper,
.swiper-container
	width: 100%

.swiper-prev,
.swiper-next
	border: 1px solid #7B5831
	border-radius: 3px
	outline: none
	display: flex
	justify-content: center
	align-items: center
	height: 30px
	width: 60px
	background-color: #7B5831
	cursor: pointer

	svg
		stroke-width: 2px
		width: 28px
		height: 12px
		stroke: #fff

	@media #{$tablet-above}
		transition: opacity .2s ease-in-out

		&:hover:not(.swiper-button-disabled)
			opacity: .8

	&.swiper-button-disabled,
	&.disabled
		background-color: #fff
		pointer-events: none

		svg
			stroke: #7B5831

.swiper-prev
	margin-right: 20px

.link
	font-weight: bold
	font-size: 23px
	line-height: 106.7%
	color: rgba(51, 51, 51, .7)
	transition: opacity .2s ease-in-out

	@media #{$tablet}
		font-size: 15px

	@media #{$tablet-above}
		&:hover
			opacity: .7

	&.has_icon
		display: flex
		align-items: center

		svg
			width: 18px
			height: 20px
			fill: none
			stroke: rgba(51, 51, 51, .7)
			stroke-width: 3px

			@media #{$tablet}
				width: 10px
				height: 12px

	&-icon
		display: flex
		margin-left: 8px

.ul
	@media #{$mobile}
		padding-left: 15px

	li
		font-size: 18px
		line-height: 250%
		list-style: disc

		@media #{$mobile}
			font-size: 13px
			line-height: 190%

.form-select2
	::-webkit-scrollbar
		width: 4px
		height: 2px
		border-radius: 4px
	::-webkit-scrollbar-thumb
		background-color: rgba(0, 0, 0, .24)
	background-color: rgba(181, 126, 63, 0.07)

	.select2-selection--single
		height: 42px
		background: transparent
		outline: none
		display: flex
		align-items: center
		border: 1px solid #765530
		border-radius: 0 !important

		.select2-selection__rendered
			padding: 0 20px
			color: #000
			font-size: 16px
			line-height: 1

		.select2-selection__arrow
			width: 11px
			height: 6px
			position: absolute
			top: 0
			bottom: 0
			right: 20px
			margin: auto
			background: url('../images/select-arrow.svg') no-repeat
			background-size: 100%
			transition: 300ms ease-out

			b
				display: none

		.select2-selection__placeholder
			font-size: 16px
			line-height: 106.7%
			color:  #505050

	&.select2-container--focus
		.select2-selection--multiple
			border-color: #cacbcc

	.select2-dropdown
		font-size: 16px
		background: #fff
		border: 1px solid #765530

	.select2-results
		& > .select2-results__options
			max-height: 150px
			padding: 10px 0

	.select2-results__option
		cursor: pointer
		padding: 12px 16px
		transition: 300ms ease-out

		&--highlighted[aria-selected]
			 color: #000
			 background-color: transparent

		&[aria-selected=true]
			display: none

		&:empty
			display: none

.select-light
	.select2-selection--single
		background: transparent
		border: none
		display: flex
		padding-right: 40px

		.select2-selection__rendered
			font-size: inherit
			font-weight: 700
			padding: 0
