.description
	.container
		max-width: 1040px

.description-content
	@media #{$mobile-above}
		width: 536px
		
		@media #{$tablet}
			width: 398px

	@media #{$mobile}
		&:not(:last-child)
			margin-bottom: 25px

	@media #{$tablet-above}
		padding-top: 40px

		@media (max-height: 840px)
			padding-top: 0
			margin-top: -40px

	& + .description-image
		@media #{$mobile-above}
			width: calc(100% - 536px)

			@media #{$tablet}
				width: calc(100% - 377px)
				max-width: 280px
				margin-left: auto

		@media #{$tablet-above}
			@media (max-height: 800px)
				width: calc(100% - 600px)

.description-image
	margin-top: -60px

	@media #{$tablet}
		margin-top: -28px

	@media #{$mobile}
		padding: 0 13px
		margin-top: 0

	@media #{$mobile}
		// order: -1

		&:not(:last-child)
			margin-bottom: 12px

	img
		max-width: 100%

.description-wrap
	display: flex

	@media #{$mobile}
		flex-direction: column


	@media #{$mobile-above}
		@media #{$tablet}
			padding-right: 25px
			padding-left: 25px

.description-title
	font-family: "CaslonGraD", sans-serif
	font-size: 57px
	line-height: 67px
	padding-right: 4px
	margin-top: 0

	&:not(:last-child)
		margin-bottom: 80px

	@media #{$tablet-above}
		@media (max-height: 800px)
			&:not(:last-child)
				margin-bottom: 40px

		@media (max-height: 720px)
			font-size: 49px
			line-height: 60px

	@media #{$tablet}
		font-size: 45px
		line-height: 53px

		&:not(:last-child)
			margin-bottom: 23px

	@media #{$mobile}
		font-size: 26px
		line-height: 160%

.description-text
	font-weight: 500
	font-size: 38px
	line-height: 43px
	color: #6B6B6B

	@media #{$tablet}
		font-size: 29px
		line-height: 33px
		max-width: 350px

	@media #{$mobile}
		font-size: 20px
		line-height: 23px