.footer
	background-color: #424343
	color: #fff
	position: relative
	padding-top: 72px
	padding-bottom: 53px

	@media #{$mobile}
		padding-top: 50px
		padding-bottom: 50px

.footer-info__icon
	svg
		width: 24px
		height: 24px
		stroke: #fff
		stroke-width: 2px
		fill: none

	.icon-clock
		fill: #fff
		width: 20px
		height: 20px

	.icon-info
		width: 20px
		height: 15px

.footer-nav,
.footer-info__icon
	@media #{$mobile-above}
		display: flex

.footer-bottom
	position: relative

	@media #{$mobile-above}
		@media #{$tablet}
			display: flex
			align-items: flex-end
			justify-content: space-between

	&:not(:last-child)
		margin-bottom: 80px

		@media #{$mobile}
			margin-bottom: 13px

.footer-nav
	align-items: center

	@media #{$tablet}
		justify-content: flex-end

		&:not(:last-child)
			margin-bottom: 60px

	@media #{$mobile}
		width: calc(100% - 120px)
		margin-left: auto

.footer-logo
	img
		width: 102px
		vertical-align: bottom

	@media #{$mobile-above}
		&:not(:last-child)
			margin-right: 81px

		@media #{$tablet}
			position: absolute
			left: 40px

.footer-nav__elem
	font-weight: bold
	font-size: 20px
	line-height: 23px

	a
		@media #{$tablet-above}
			transition: opacity .2s ease-in-out

			&:hover
				opacity: .8

	@media #{$mobile-above}
		&:not(:last-child)
			margin-right: 50px

	@media #{$mobile}
		text-align: right

		&:not(:last-child)
			margin-bottom: 25px

.footer-info__list
	@media #{$tablet-above}
		&:not(:first-child)
			max-width: 280px
			width: 100%
			margin-left: auto

	@media #{$tablet}
		display: flex
		flex-wrap: wrap
		align-items: flex-start

	@media #{$mobile}
		width: 100%
		display: block

.footer-info__icon
	width: 35px

	& + .footer-info__title
		width: calc(100% - 35px)

	.icon-pin
		position: relative
		top: -2px

.footer-info__title
	font-size: 18px
	line-height: 100.2%

.footer-info
	align-items: center
	display: flex

	@media #{$mobile-above}
		@media #{$tablet}
			width: 50%

			// &:nth-child(2)
			// 	width: 190px
			// 	margin-left: auto
			// 	margin-top: -10px
			// 	justify-content: flex-end

			// 	.footer-info__title
			// 		width: auto
			// 		white-space: nowrap

	&:not(:last-child)
		margin-bottom: 15px

		@media #{$tablet}
			margin-bottom: 25px

.footer-top
	display: flex
	padding-bottom: 44px
	border-bottom: 1px solid #B8B8B8

	@media #{$mobile-above}
		@media #{$tablet}
			display: block
			padding-left: 180px
			padding-bottom: 60px

	@media #{$mobile}
		flex-wrap: wrap
		padding-bottom: 40px

	&:not(:last-child)
		margin-bottom: 70px

		@media #{$tablet}
			margin-bottom: 56px

		@media #{$mobile}
			margin-bottom: 30px

.footer-text
	font-size: 18px
	line-height: 100.2%

	@media #{$mobile}
		font-size: 14px

		&:not(:last-child)
			margin-bottom: 86px

	span
		display: block
		margin-top: 10px

.footer-icon
	@media #{$tablet-above}
		position: absolute
		left: 50%
		transform: translateX(-50%)
		top: 0

	@media #{$mobile}
		text-align: center
		display: block

	img
		width: 128px
		vertical-align: bottom

.footer-copyright
	text-align: center
	color: #D8D8D8
	font-size: 16px
	line-height: 100.2%
