.form-field
	position: relative

	&:not(:last-child)
		margin-bottom: 30px

		@media #{$mobile}
			margin-bottom: 20px

.input
	height: 42px

.input,
.textarea
	padding-left: 20px
	padding-right: 20px
	width: 100%
	vertical-align: bottom
	background-color: rgba(181, 126, 63, 0.07)
	border: 1px solid #765530
	font-size: 16px
	line-height: 106.7%

	&:focus
		border-color: #765539

.textarea
	height: 186px
	padding-top: 12px

textarea
	resize: none

.label-error
	color: red

.is-error
	.input,
	.textarea,
	.form-select2 .select2-selection--single
		border-color: red