.header-content,
.header-nav
	display: flex

.header-nav
	@media #{$mobile}
		display: none

.header
	margin-bottom: 70px
	height: 58px

	@media #{$mobile}
		margin-bottom: 40px

	&-logo
		margin-right: 97px
		width: 134px

		@media #{$tablet}
			margin-right: 52px

		img
			max-width: 100%

	.container
		max-width: 1040px

.header-content
	align-items: center

	@media #{$mobile}
		position: relative

.header-nav__elem
	font-weight: bold
	font-size: 20px
	line-height: 23px
	color: #404040

	@media #{$tablet-above}
		transition: opacity .2s ease-in-out

		&:hover
			opacity: .8

	&:not(:last-child)
		margin-right: 60px

		@media #{$tablet}
			margin-right: 50px

.header-burger
	display: flex
	position: absolute
	right: 0
	top: 50%
	transform: translateY(-50%)
	z-index: 20

	@media #{$mobile-above}
		display: none

	svg
		width: 31px
		height: 14px
		vertical-align: bottom

.burger
	width: 28px
	height: 20px
	display: inline-block
	position: relative

.burger i
	position: absolute
	display: block
	height: 2px
	background-color: #000
	width: 30px
	left: 0px
	transition: all .3s

.burger i:nth-child(1)
	top: 0

.burger i:nth-child(2)
	top: 8px

.burger i:nth-child(3) 
	top: 16px

.burger.is-active i:nth-child(1) 
	top: 9px
	transform: rotateZ(45deg)

.burger.is-active i:nth-child(2)
	background: transparent

.burger.is-active i:nth-child(3) 
	top: 9px
	transform: rotateZ(-45deg)