.menu
	background-color: #fff
	position: absolute
	top: 0
	left: 0
	right: 0
	transition: transform .2s linear
	transform: translateY(-120%)
	overflow: hidden
	height: calc(100vh + 58px)
	display: flex
	justify-content: center
	align-items: center
	z-index: 1

	&.is-open
		transform: translateY(0)

	img
		max-width: 134px

.menu-nav__elem
	font-size: 24px
	line-height: 29px
	overflow: hidden

	a
		transform: translateY(-100px)
		transition: transform .5s cubic-bezier(.25,.74,.22,.99)
		display: inline-block

	&:not(:last-child)
		margin-bottom: 15px

.menu-nav
	opacity: 0

	&.is-show
		opacity: 1
		
		.menu-nav__elem
			a
				transform: translateY(0)
