.modal
	// overflow: auto
	position: absolute
	top: 0
	// bottom: 0
	left: 0
	right: 0
	background-image: url('../images/modal-bg.jpg')
	background-position: center
	background-repeat: no-repeat
	background-size: cover

	@media #{$mobile-above}
		top: 50%
		transform: translateY(-50%)

	@media #{$tablet-above}
		max-width: 870px
		width: 100%
		margin: auto

	.mfp-close
		display: none

	&-close
		height: 26px
		width: 26px
		position: absolute
		right: 40px
		top: 40px

		@media #{$tablet-above}
			&:hover
				svg
					stroke: #765530

		@media #{$mobile}
			right: 20px
			top: 35px

		svg
			width: 25px
			height: 26px
			vertical-align: bottom
			stroke: #000
			transition: stroke .2s ease-in-out

[data-mfp-src]
	outline: none

.mfp-bg
	z-index: 99
	opacity: 0
	transition: 300ms ease-out

	&.mfp-ready
		opacity: 1

	&.mfp-removing
		opacity: 0.8

.mfp-container
	padding: 0

.modal-title
	font-size: 32px
	line-height: 37px
	font-family: "CaslonGraD", sans-serif

.modal-head
	&:not(:last-child)
		margin-bottom: 35px

	@media #{$mobile}
		padding-right: 40px

.mfp-content
	padding: 0
	width: 100%
	height: 100%

.mfp-wrap
	z-index: 99
	top: 0 !important
	position: fixed !important
	overflow: auto
	-webkit-overflow-scrolling: auto
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
	padding: 0

	&.is-hidden
		overflow: hidden !important

	&.mfp-ready
		z-index: 151

.mfp-open
	body
		overflow: hidden

.modal-box
	padding: 66px 100px
	position: relative

	@media #{$tablet}
		padding: 44px 48px

	@media #{$mobile}
		padding: 30px 20px 20px

.modal-form__flex
	@media #{$mobile-above}
		display: flex

	&:not(:last-child)
		margin-bottom: 30px

.modal-form__left
	@media #{$mobile-above}
		width: 325px

		& + .modal-form__right
			width: calc(100% - 347px)
			margin-left: auto

	@media #{$mobile}
		&:not(:last-child)
			margin-bottom: 20px

.modal-form__submit
	padding-top: 30px

	@media #{$mobile}
		padding-top: 10px
		text-align: center

		.button
			min-width: 162px

.modal-text
	font-family: "Open Sans", sans-serif
	font-weight: 300
	font-size: 14px
	line-height: 150%

	.modal-box
		padding: 50px 80px 50px 50px

		@media #{$mobile}
			padding: 30px 60px 30px 20px

	p,
	ul
		&:not(:last-child)
			margin-bottom: 20px

	li
		list-style: none
		font-size: 14px
		line-height: 150%

		&:not(:last-child)
			margin-bottom: 10px

	ul
		padding-left: 0

.modal-card
	&:not(:last-child)
		margin-bottom: 30px

.modal-card__info
	display: flex
	align-items: center

	img
		max-width: 100%
		width: 100%
		height: 100%
		object-fit: cover

	&-image
		width: 82px
		height: 82px
		border-radius: 50%
		overflow: hidden

	&-content
		width: calc(100% - 102px)
		margin-left: auto

		color: #545454
		font-size: 14px
		line-height: 125%

