.news-list
	@media #{$tablet-above}
		padding: 0 40px

	&:not(:last-child)
		margin-bottom: 52px

		@media #{$tablet}
			margin-bottom: 42px

		@media #{$mobile}
			margin-bottom: 70px

.news-elem
	display: block

	@media #{$mobile-above}
		display: flex

	&:not(:last-child)
		margin-bottom: 50px

		@media #{$mobile}
			margin-bottom: 70px

	&__image
		position: relative

		@media #{$mobile-above}
			width: 300px
			height: 190px

		@media #{$mobile}
			margin-left: -20px
			margin-right: -20px
			padding-bottom: 79%

			&:not(:last-child)
				margin-bottom: 10px

			@media (orientation: landscape)
				max-width: 350px
				padding-bottom: 43%
				margin-left: auto
				margin-right: auto

		img
			width: 100%
			height: 100%
			object-fit: cover
			vertical-align: bottom

			@media #{$mobile}
				+abscenter

		&.style_video
			&:before
				content: ''
				display: block
				+abscenter
				background-color: rgba(0, 0, 0, .3)

			&:hover
				.play
					svg
						transform: scale(1.2)

		& + .news-elem__content
			@media #{$mobile-above}
				width: calc(100% - 350px)
				margin-left: auto

				@media #{$tablet}
					width: calc(100% - 340px)

			@media #{$mobile}
				@media (orientation: landscape)
					max-width: 350px
					margin-left: auto
					margin-right: auto

		.play
			svg
				width: 63px
				height: 48px
				+abscenter
				transition: transform .2s ease-in-out

	&__title
		font-family: "CaslonGraD", sans-serif
		font-size: 30px
		line-height: 35px

		@media #{$tablet}
			font-size: 25px
			line-height: 29px

		&:not(:last-child)
			margin-bottom: 27px

			@media #{$tablet}
				margin-bottom: 15px

	&__text
		font-size: 18px
		line-height: 160%

		@media #{$tablet}
			font-size: 16px

		p
			&:not(:last-child)
				margin-bottom: 15px

		&:not(:last-child)
			margin-bottom: 21px

			@media #{$tablet}
				margin-bottom: 15px

			@media #{$mobile}
				margin-bottom: 5px

	&__link
		display: flex
		justify-content: flex-end

.date
	font-weight: 500
	font-size: 20px
	line-height: 106.7%
	color: #444444

	&:not(:last-child)
		margin-bottom: 31px

		@media #{$tablet}
			margin-bottom: 20px