.reviews-head
	text-align: center

	&:not(:last-child)
		margin-bottom: 50px

		@media #{$tablet}
			margin-bottom: 30px

.reviews
	&:not(:last-child)
		margin-bottom: 150px

		@media #{$tablet-above}
			@media (max-height: 840px)
				margin-bottom: 70px

		@media #{$tablet}
			margin-bottom: 90px

		@media #{$mobile}
			margin-bottom: 80px

.reviews-grid__wrap
	&:not(:last-child)
		margin-bottom: 15px

		@media #{$mobile-above}
			@media #{$tablet}
				padding: 0 8px
				margin-bottom: 20px

		@media #{$tablet}
			margin-bottom: 0

.reviews-grid
	display: flex
	justify-content: space-between
	align-items: center
	flex-wrap: wrap
	margin-bottom: -42px

	@media (min-width: 1350px)
		margin-left: -55px
		margin-right: -55px

	@media #{$mobile}
		margin-bottom: -20px

.reviews-col
	@media #{$mobile-above}
		margin-bottom: 42px

		@media #{$tablet}
			margin-bottom: 32px

			&:not(:nth-child(4n))
				margin-right: 40px

			&:last-child
				margin-right: 0

	@media #{$tablet-above}
		&:not(:last-child)
			margin-right: 30px

	@media #{$mobile}
		width: 50%
		text-align: center
		margin-bottom: 20px

.reviews-image
	display: inline-block

	img
		vertical-align: bottom
		max-width: 100%

.reviews-slider
	.card-border
		margin-top: 31px

	// @media #{$mobile}
	// 	.swiper-slide
	// 		&:not(:last-child)
	// 			margin-bottom: 40px

.card
	width: 280px

	@media #{$tablet}
		width: 330px

		&:not(:last-child)
			margin-bottom: 46px

		&:nth-child(3)
			.card-border
				&:after
					opacity: 1

	@media #{$mobile}
		width: 280px
		margin-right: auto
		margin-left: auto

		&:not(:last-child)
			margin-bottom: 50px

	@media #{$tablet-above}
		&:hover
			.card-border
				&:after
					opacity: 1

.card-border
	background-size: contain
	background-position: center
	background-repeat: no-repeat
	background-color: #fff
	padding: 50px 23px 50px
	height: 330px
	position: relative
	display: flex
	flex-direction: column

	@media #{$mobile-above}
		background-image: url('../images/border-gradient.svg')

		@media #{$tablet}
			background-image: url('../images/border-tablet.svg')
			padding-bottom: 40px

	@media #{$mobile}
		background-image: url('../images/border-mob.svg')

	&:not(:last-child)
		margin-bottom: 28px

		@media #{$mobile}
			margin-bottom: 15px

	&:before
		content: ''
		display: block
		position: absolute
		bottom: 87px
		left: 1px
		right: 1px
		background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%)
		height: 50px
		pointer-events: none

		@media #{$tablet}
			bottom: 78px

	&:after
		content: ''
		display: block
		position: absolute
		top: 0
		bottom: 15px
		left: 1px
		right: 1px
		background-color: #fff
		z-index: -1
		transition: opacity .2s ease-in-out
		opacity: 0

.card-border__text
	font-family: "Open Sans", sans-serif;
	font-weight: 300
	font-size: 14px
	line-height: 150%
	max-height: 83%
	overflow: hidden

	&:not(:last-child)
		margin-bottom: 15px

	.ul
		padding-left: 0

	li
		font-size: 14px
		line-height: 150%
		list-style: none

		&:not(:last-child)
			margin-bottom: 10px

.card-link__wrap
	display: inline-block
	margin-top: auto

.card-link
	font-size: 16px
	color: #7B5831
	border-bottom: 1px solid #7B5831
	position: relative

	@media #{$tablet-above}
		transition: border-color .2s ease-in-out

		&:hover
			border-color: transparent

.pattern_1,
.pattern_2
	position: absolute
	z-index: 1

.pattern_1
	bottom: calc(100% - 45px)
	left: 23px

.pattern_2
	bottom: 25px
	right: 23px

.icon-pattern-1,
.icon-pattern-2
	width: 36px
	height: 30px

.card-body,
.reviews-slider__nav
	display: flex

.card-icon
	width: 82px
	height: 82px
	border-radius: 50%
	overflow: hidden

	img
		width: 100%
		height: 100%
		object-fit: cover

	& + .card-text
		width: calc(100% - 102px)
		margin-left: auto

.card-title
	font-weight: bold
	font-size: 20px
	line-height: 23px
	color: #333333

	&:not(:last-child)
		margin-bottom: 12px

.card-text
	color: #545454
	font-size: 14px
	line-height: 125%

	@media #{$tablet}
		padding-right: 40px

.reviews-slider__nav
	margin-top: 48px
	align-items: center
	justify-content: center