.solution-head
	text-align: center

	&:not(:last-child)
		margin-bottom: 60px

		@media #{$mobile}
			margin-bottom: 30px

.solution-title
	font-size: 37px
	line-height: 43px
	color: #171717
	font-family: "CaslonGraD", sans-serif

	@media #{$tablet}
		font-size: 30px
		line-height: 35px

	@media #{$mobile}
		font-size: 18px
		line-height: 160%

.solution-tabs
	display: flex

	@media #{$mobile}
		flex-wrap: wrap

	&:not(:last-child)
		margin-bottom: 60px

		@media #{$mobile}
			margin-bottom: 30px

.solution-tab
	width: calc(25% - 39px)
	display: flex
	align-items: center
	justify-content: center
	font-weight: 500
	font-size: 22px
	line-height: 25px
	border-radius: 10px 10px 0px 0px
	border: 1px solid #765530
	height: 90px
	text-transform: uppercase
	padding-left: 10px
	padding-right: 10px
	text-align: center

	@media #{$tablet-above}
		transition: color .2s ease-in-out, background-color .2s ease-in-out

		&:hover
			background-color: #765530
			color: #fff

	@media #{$tablet}
		height: 68px
		font-size: 18px
		line-height: 20px
		width: calc(25% - 15px)

		br
			display: none

	@media #{$mobile}
		width: calc(50% - 10px)
		margin-bottom: 20px
		font-size: 16px
		line-height: 18px

		&:not(:nth-child(2n))
			margin-right: 20px

	&.is-active
		background-image: linear-gradient(180deg, #B1ABA3 0%, #6F665D 100%)
		color: #fff
		border: none
		font-weight: 700
		pointer-events: none
		letter-spacing: 0.1em

	@media #{$mobile-above}
		&:not(:last-child)
			margin-right: 52px

			@media #{$tablet}
				margin-right: 20px

.solution-button
	height: 63px
	display: flex
	align-items: center
	justify-content: center
	font-weight: 500
	font-size: 22px
	line-height: 106.7%
	border-radius: 1px
	border: 1px solid #765530
	color: #545454
	text-align: center

	@media #{$tablet-above}
		transition: color .2s ease-in-out, background-color .2s ease-in-out

		&:hover
			background-color: #765530
			color: #fff

	@media #{$mobile}
		font-size: 14px
		line-height: 106.7%
		height: 48px

	&:not(:last-child)
		margin-bottom: 28px

		@media #{$tablet}
			margin-bottom: 25px

		@media #{$mobile}
			margin-bottom: 15px

	&.is-active
		background-image: linear-gradient(180deg, #B1ABA3 0%, #6F665D 100%)
		color: #fff
		border: none
		font-weight: 700
		pointer-events: none

.section-solution
	&:not(:last-child)
		margin-bottom: 114px

		@media #{$tablet}
			margin-bottom: 100px

		@media #{$mobile}
			margin-bottom: 80px

.solution-about
	.solution-title
		text-align: center
		font-size: 30px
		line-height: 35px

		@media #{$mobile-above}
			@media #{$tablet}
				padding-left: 50px
				padding-right: 50px

		@media #{$mobile}
			font-size: 18px
			line-height: 150%

		&:not(:last-child)
			margin-bottom: 50px

			@media #{$tablet}
				margin-bottom: 40px

.solution-text
	font-size: 18px
	line-height: 150%

	@media #{$mobile}
		font-size: 14px
		line-height: 160%

	&:not(:last-child)
		margin-bottom: 35px

		@media #{$tablet}
			margin-bottom: 70px

		@media #{$mobile}
			margin-bottom: 60px

	p
		&:not(:last-child)
			margin-bottom: 30px

			@media #{$mobile}
				margin-bottom: 25px

.solution-container
	max-width: 990px
	margin: 0 auto

.solution-list
	@media #{$mobile-above}
		display: flex
		justify-content: space-between

.solution-elem__head,
.solution-elem__icon
	display: flex
	align-items: center

.solution-elem__head
	justify-content: center
	min-height: 75px
	padding-bottom: 25px

	@media #{$tablet}
		min-height: 85px

.solution-dropbox
	&:not(:last-child)
		margin-bottom: 70px

.solution-elem__body
	font-size: 18px
	line-height: 140%
	text-align: center

.solution-elem
	@media #{$mobile-above}
		width: 260px

		@media #{$tablet}
			width: 216px

	@media #{$mobile}
		&:not(:last-child)
			margin-bottom: 50px

.solution-elem__icon
	width: 65px

	@media #{$tablet}
		width: 46px

	&:not(:last-child)
		margin-right: 5px

		@media #{$tablet}
			margin-right: 20px

	svg
		max-width: 100%

.icon-fast
	width: 36px
	height: 56px

.icon-scaleble
	width: 41px
	height: 41px

.icon-quality
	width: 46px
	height: 56px

.solution-elem__title
	font-weight: 500
	font-size: 27px
	line-height: 31px

.solution-buttons__flex
	display: flex
	justify-content: center

	@media #{$mobile}
		.button
			&:not(:last-child)
				width: calc(50% - 10px)

				& + .button
					width: calc(50% - 10px)

	.button
		& + .button
			margin-left: 22px

			@media #{$mobile}
				margin-left: 20px

.dropbox-body
	padding-top: 85px

	@media #{$tablet}
		padding-top: 64px

	@media #{$mobile}
		padding-top: 70px
