include ../_mixins/_import

block vars
	-
		var title = typeof title !== 'undefined' ? title : null
	-
		var html = {
			attrs: {
				lang: 'en'
			},
			classList: []
		}
	-
		var body = {
			attrs: {},
			classList: []
		}

doctype html
html(class=html.classList)&attributes(html.attrs)
	head
		meta(charset="utf-8")
		
		if title !== null
			title= title
			
		include ../_parts/_head
		
	body(class=body.classList)&attributes(body.attrs)
	
		include ../_parts/_header
		
		block content

		include ../_parts/_footer
		
		block scripts
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
			script(src=`js/vendor.js?v=${Date.now()}`)
			script(src=`js/main.js?v=${Date.now()}`)
